* {
	margin: 0;
	padding: 0;
	font-family: sans-serif, Arial;
}
body {
	overflow-x: hidden;
}
.wrapper {
	background: rgb(234,229,247);
	background: -o-linear-gradient(242deg, rgba(234,229,247,1) 0%, rgba(65,65,65,1) 100%);
	background: linear-gradient(208deg, rgba(234,229,247,1) 0%, rgba(65,65,65,1) 100%);
}
.top_block {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}
.left_side {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 100px;
}
.left_side h1 {
	font-size: 170px;
}
.left_side p {
	margin-left: 10px;
	font-size: 30px;
}
.right_side {
	padding: 100px;
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: rgba(0,0,0,0.8);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: #fff;
}
img {
	max-width: 50px;
}
h2 {
	text-transform: uppercase;
}
.stack {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.stack_list, .technologies_block, .other, .social, .owncoded, .servers {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.stack_list_element a, .other_element a, .social a, .owncoded a, .servers a {
	text-decoration: none;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 20px;
}
.stack_list_element p, .other_element p, .social_element p, .owncoded_element p {
	margin-top: 10px;
	margin-left: 20px;
}
.other_element, .stack_list_element, .social_element {
	border-bottom: solid 2px rgba(0,0,0,0.8);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	padding-bottom: 10px;
}
.other_element:hover, .stack_list_element:hover, .social_element:hover {
	border-bottom: solid 2px #fff;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.hr_main {
	margin: 30px 0;
	height: 3px;
	background: #fff;
	width: 100%;
}
.owncoded, .servers_element {
	margin-top: 20px;
}
.servers_element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.servers_element a {
	margin-left: 20px;
	margin-top: 10px;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.social{
	margin-bottom: 20px;
}
@media(max-width: 767px){
	.top_block, .stack {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.left_side h1 {
		font-size: 70px;
	}
	.left_side p {
		margin-left: 10px;
		font-size: 20px;
	}
	.social, .other {
		margin-top: 20px;
	}
	.right_side {
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 0;
		padding-top: 20px;
	}
	.owncoded_element, .servers_element {
		max-width: 200px;
		word-wrap: wrap;
	}
}
@media(min-width: 768px) and (max-width: 1023px){
	.left_side h1 {
    	font-size: 100px;
	}
	.left_side {
		padding: 15px;
	}
	.right_side {
		padding: 20px;
	}
	.owncoded_element, .servers_element {
		max-width: 150px;
		word-wrap: wrap;
	}
}
@media(min-width: 1024px) and (max-width: 1439px){
	.left_side h1 {
	    font-size: 125px;
	}
	.left_side {
		padding: 50px;
	}
	.right_side {
		padding: 40px;
	}
}/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif, Arial;
}
body {
	overflow-x: hidden;
}
.wrapper {
	background: rgb(234,229,247);
	background: -o-linear-gradient(242deg, rgba(234,229,247,1) 0%, rgba(65,65,65,1) 100%);
	background: linear-gradient(208deg, rgba(234,229,247,1) 0%, rgba(65,65,65,1) 100%);
}
.top_block {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}
.left_side {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 100px;
}
.left_side h1 {
	font-size: 170px;
}
.left_side p {
	margin-left: 10px;
	font-size: 30px;
}
.right_side {
	padding: 100px;
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: rgba(0,0,0,0.8);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: #fff;
}
img {
	max-width: 50px;
}
h2 {
	text-transform: uppercase;
}
.stack {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.stack_list, .technologies_block, .other, .social, .owncoded, .servers {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.stack_list_element a, .other_element a, .social a, .owncoded a, .servers a {
	text-decoration: none;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 20px;
}
.stack_list_element p, .other_element p, .social_element p, .owncoded_element p {
	margin-top: 10px;
	margin-left: 20px;
}
.other_element, .stack_list_element, .social_element {
	border-bottom: solid 2px rgba(0,0,0,0.8);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	padding-bottom: 10px;
}
.other_element:hover, .stack_list_element:hover, .social_element:hover {
	border-bottom: solid 2px #fff;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.hr_main {
	margin: 30px 0;
	height: 3px;
	background: #fff;
	width: 100%;
}
.owncoded, .servers_element {
	margin-top: 20px;
}
.servers_element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.servers_element a {
	margin-left: 20px;
	margin-top: 10px;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.social{
	margin-bottom: 20px;
}
@media(max-width: 767px){
	.top_block, .stack {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.left_side h1 {
		font-size: 70px;
	}
	.left_side p {
		margin-left: 10px;
		font-size: 20px;
	}
	.social, .other {
		margin-top: 20px;
	}
	.right_side {
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 0;
		padding-top: 20px;
	}
	.owncoded_element, .servers_element {
		max-width: 200px;
		word-wrap: wrap;
	}
}
@media(min-width: 768px) and (max-width: 1023px){
	.left_side h1 {
    	font-size: 100px;
	}
	.left_side {
		padding: 15px;
	}
	.right_side {
		padding: 20px;
	}
	.owncoded_element, .servers_element {
		max-width: 150px;
		word-wrap: wrap;
	}
}
@media(min-width: 1024px) and (max-width: 1439px){
	.left_side h1 {
	    font-size: 125px;
	}
	.left_side {
		padding: 50px;
	}
	.right_side {
		padding: 40px;
	}
}