* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	overflow-x: hidden;
}
@font-face {
	font-family: "Montserrat"; 
	src: url("fonts/Montserrat-Regular.ttf") format("truetype"); 
} 
.mainSection {
	width: 100%;
}
#topContent {
	justify-content: space-between;
}
header {
	margin: 0 19.53125%;
	height: 2.821%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer {
	margin: 0 19.53125%;
	height: 2.821%;
	display: flex;
	align-items: center;
}
header * {
	padding: 16px 0;
}
#hr-top {
	margin: 0 !important;
	border: 1px solid #DCDEE3;
	height: 0px;
	left: 0px;
}
#topTxt {
	margin: 0;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	line-height: 31px;
	color: #73869D;
	text-align: center;
}
.topBlock {
	margin: 0 19.53125%;
	margin-top: 1.693%;
	height: 20%;
	display: flex;
}
.blockElement {
	width: 100%;
	margin-top: 19px;
	display: flex;
	flex-direction: column;
}
.hr-colomn {
	width: 1px;
	background: #F1F3F6;
}
.textBlock {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 31px;
	color: #DCDEE3;
	text-align: center;
	align-items: center;
	height: 20%;
}
.blockElement-1 {
	width: 37.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blockElement-2 {
	width: 25%;
}
.blockElement-3 {
	width: 37.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.input {
	border: 1px solid #F1F3F6;
	border-radius: 5px;
	height: 60px;
	width: 190px;
	font-style: normal;
	font-weight: 900;
	font-size: 25px;
	color: #73869D;
	text-align: center;
}
#topSlider {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#rubl {
	padding-left: 14px;
}
#text-1 {
	margin-left: -28px;
}
#myRange  {
   	background-color: #DCDEE3;
   	border-radius: 5px;
   	height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 40px;
    outline: none;
}
#myRange::-webkit-slider-thumb {
    background-image: url("../images/slider.svg");
    background-size: cover;
    margin-top: 5px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    -webkit-appearance: none;
}
.blockElement-2-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#txt {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 31px;
	color: #73869D;
}
#input-2 {
	width: 100px;
}
.blocks {
	display: flex;
	flex-wrap: wrap;
	height: 80%;
	margin-left: 30px;
	margin-top: 10px;
}
.content-1, .content-2 {
	height: 80%;
}
.block {
	height: 40px;
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #F1F3F6;
	border-radius: 3px;
	align-items: center;
	margin: 0 5px;
	outline: none;
}
.block img {
	padding: 10px;
	padding-right: 0;
}
.textBlock3 {
	padding: 10px;
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 21px;
	color: #73869D;
	text-align: right;
}
.topBlockMain {
	display: flex;
	flex-direction: column;
}
.button {	
	background: #F8F9FB;
	border-radius: 5px;
	height: 50px;
	margin: 0 19.53125%;
	margin-top: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 31px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #73869D;
	outline: none;
	border: none;
}
.centerBlock {
	margin: 0 19.53125%;
	margin-top: 2.257%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.centerBlockElement {
	width: 32%;
	height: 470px;
	margin-bottom: 30px;
}
.topSide {
	display: flex;
	flex-wrap: nowrap;
	padding-top: 5.1%;
	align-items: center;
	height: 14.25%;
	justify-content: space-between;
	padding-right: 0;
}
.contentBlock {
	padding: 0 7.567%;
	padding-top: 5.1%;
	padding-bottom: 1.7%;
	background: #FFFFFF;
	border: 0.5px solid rgba(220, 222, 227, 0.8);
	box-sizing: border-box;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.02);
	border-radius: 5px;
}
.contentBlock:hover {
	background: #FFFFFF;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(220, 222, 227, 0.8);
}
.topText {
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	line-height: 14px;
	text-align: right;
	color: #DCDEE3;
}
.centerSide {
	margin-top: 8.72%;
	height: 65.31%;
}
.centerElementText {
	display: flex;
	justify-content: space-between;
	align-items: center;
		height: 40px;
}
.centerElementText p, .bottomElementText p {
	margin: 0;

}
.leftText {
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 21px;
	color: #DCDEE3;
}
.rightSide{
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 21px;
	text-align: right;
	color: #73869D;
}
.inputText{
	width: 100%;
	border: 0 0 0 0.5px solid #F0F0F0;
}
.centerElementLine {
	margin: 3.19% 0;
	border: 0.5px solid #F0F0F0;
}
.bottomElementLine {
	border-radius: 5px;
}
#myRange2  {
	position: relative;
   	background-color: #DCDEE3;
   	border-radius: 5px;
   	height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    border: none;
}
#myRange2::before {
	position: absolute;
	content: "";
	background: #73869D;
    cursor: pointer;
    width: 67.7%;
    left: 0;
    height: 5px;
    -webkit-appearance: none;
     border: none;
}
#myRange2::-webkit-slider-thumb {
	display: none;
}
.bottomButton {
	margin-top: 5.744%;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #FFF;
	border: 0.5px solid #DCDEE3;
	border-radius: 5px;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 31px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #73869D;
}
.info {
	margin-top: 5.1%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info p {
	margin: 0;
	padding-left: 4%;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 31px;
	color: #73869D;
}
.button2 {
	width: 100%;
	margin: 0;
}
#hr-bottom {
	margin-top: 2.03%;
	border: 1px solid #DCDEE3;
	height: 0px;
	left: 0px;
}
.footerImg {
	padding: 10px 0;
	width: 20%;
}
.footerText {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.footerTextLeft {
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	line-height: 13px;
	color: #4E5257;
}
.footerTextRight a {
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	line-height: 11px;
	color: #4E5257;
	display: flex;
	text-align: right;
	flex-direction: column;
	text-decoration: none;
}
.footerTextRight a:hover {
	color: #4E5257;
}
@media (max-width: 500px){
	header {
		flex-direction: column;
	}
	.topBlock {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#myRange {
		width: 100%;
	}
	#text-1 {
		margin-left: 0;
		width: auto;
	}
	.blockElement-1, .blockElement-2, .blockElement-3 {
		width: 100%;
	}
	.blocks {
		margin-left: 0;
		flex-wrap: wrap;
	}
	.block {
		width: 100%;
		margin: 10px 0;
	}
	.centerBlockElement {
		width: 100%;
		margin: 30px 0;
	}
	.topSide {
		flex-direction: column;
	}
	.topText {
		text-align: center;
	}
	.rightSide {
		font-size: 10px;
	}
	.centerBlock {
		margin: 0 10%;
		margin-top: 10%;
	}
	footer {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	.footerImg {
		width: 100%;
	}
	.footerText {
		width: 100%;
		flex-direction: column;
		margin-bottom: 20px;
	}
	.footerTextLeft, .footerTextRight {
		width: 100%;
	}
	.footerTextRight a {
		text-align: left;
	}
}
@media(max-width: 500px) and (min-width: 400px){
	.centerBlockElement {
		width: 100%;
		margin: 50px 0;
	}
	.button2 {
		margin-top: 40px;
	}
}
@media(min-width: 501px) and (max-width: 1180px) {
	header {
		flex-direction: column;
	}
	.topBlock {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#myRange {
		width: 100%;
	}
	#text-1 {
		margin-left: 0;
		width: auto;
	}
	.blockElement-1, .blockElement-2, .blockElement-3 {
		width: 100%;
	}
	.blocks {
		margin-left: 0;
		flex-wrap: wrap;
	}
	.block {
		width: 100%;
		margin: 10px 0;
	}
	.centerBlockElement {
		width: 45%;
	}
	.topSide {
		flex-direction: column;
	}
	.topText {
		text-align: center;
	}
	.rightSide {
		font-size: 10px;
	}
	
}
@media(min-width: 501px) and (max-width: 599px){
	footer {
		flex-direction: column;
		justify-content: center;
	}
	.centerBlock {
		margin: 0 10%;
		margin-top: 10%;
	}
	.footerImg {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.footerText {
		width: 100%;
		margin: 20px 0;
	}
}
@media(min-width: 600px) and (max-width: 1180px) {
	.topBlock {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}
	.blockElement-1, .blockElement-2 {
		width: 45%;
	}
	#myRange {
		width: 80%;
	}
	.content-1, .content-2 {
		width: 100%;
	}
	.input {
		width: 120px;
	}
	#rubl, #text-1 {
		margin-right: 30px;
	}
	.blocks {
		flex-direction: row;
		justify-content: space-between;
	}
	.block {
		width: 45%;
	}
	footer {
		justify-content: space-between;
		margin: 0 8%;
	}
	.footerImg {
		width: 20%;
	}
	.footerText {
	 	width: 70%;
	}
	.footerText {
		flex-direction: line;
		justify-content: space-between;
	}
}
@media(min-width: 1000px) and (max-width: 1180px) {
	.centerBlockElement {
		margin-bottom: 50px;
	}
}