@media (max-width: 1000px){ /*440*/
	.top_block_examples_content {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: #fff;
	}
	.examples_top_block {
		padding-top: 70px;
	}
	.document_templates_main_block_element_content {
		margin-left: 0;
	}
	.document_templates_main_block_element_content ul {
		margin-left: 16px !important;
	}
	/* Универсальное заявление */
	.document_templates_main_block_element_content ul li {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #25416C;
	}
	.element_text_remark {
		margin-left: 37px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #25416C;
	}
	.document_templates_main_block_element_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #25416C;
	}
	.block_element_content_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #25416C;
	}
	.document_templates_main_block_element {
		margin: 15px 0;
	}
}