.top_block_org {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: space-between;
	padding-top: 140px;
	position: relative;
}
.img_org {
	position: absolute;
}
.top_block_org_img {
	position: relative;
}
.top_block_org_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 100px !important;
}
.top_block_text_up {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}
.alert_off {
	transition: .2s;
}
.alert_off:hover {
	transition: .2s;
	text-shadow: 0px 0px 0.8px #25416C;
}
.second_block_org {
	margin-top: 54px;
}
.firstChild {
	padding-top: 20px !important;
}
.second_block_org_content_element {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 28px;
	color: #1C3F77;
	margin-bottom: 20px;
}
.second_block_org_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.second_block_org_content:first-child {
	padding-top: 20px;
}
.features_block {
	margin-top: 40px;
}
.features_block_top_name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	text-align: center;
	color: #1C3F77;
}
.features_block_content {
	margin-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.features_block_content_element div {
	min-height: 70px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        text-align: center;
	background: linear-gradient(111.99deg, #22629B -17.63%, #23539F 47.67%, #22629B 117.88%);
	box-shadow: 0px 7px 29px rgba(28, 63, 119, 0.25);
	border-radius: 15px;
	font-family: 'Montserrat';
	font-style: normal;
	justify-content: center;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;

}
.features_block_content_element {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
	width: 48.5%;
	margin-bottom: 30px;
	border-radius: 10px;
}
.features_block_content:nth-child(7, 8){
	margin-bottom: 0;
}
.feedback_organization {
	margin-top: 20px !important;
}
/*Animation*/
.top_block_org_img {
	z-index: 10;
	position: relative;
}

.organizationTopPage {
    margin-right: 330px;
    margin-top: 97px;
}
.organizationTopPage {
	width: 340px;
}
.organizationBackPage  {
	width: 500px !important;
	left: 157px;
	z-index: -1;
	top: 35px;
    width: 500px;
}
.icon_rel {
	z-index: 5;
	position: relative;
}
