* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none !important;
}
.top_header {
	background: #fff;
}
a img {
   border: none !important;
}
.adapt_element {
	display: none;
}
.non_adapt_element {
	display: block;
}
.container {
	max-width: calc(100vw * 0.80) !important;
}
.feedback_lest_side_text_image {
	display: flex;
	align-items: center;
}
.contactUsImage {
	max-height: 450px;
}
.anchor {
	z-index: 1000;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
	right: 15px;
	bottom: 15px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #1C3F77;
	-webkit-box-shadow: 0px 0px 14px 2px rgba(38, 68, 112, 0.44);
	box-shadow: 0px 0px 14px 2px rgba(38, 68, 112, 0.44);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	opacity: 0;
	-webkit-transform: translateX(50px);
	    -ms-transform: translateX(50px);
	        transform: translateX(50px);
}
.anchor_active {
	opacity: 1;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	-webkit-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	        transform: translateX(0px);
}
.anchor:hover {
	background-color: #406aad;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.language_block_course {
	height: 400px;
}
body {
	overflow-x: hidden;
}
@font-face {
	font-family: "Montserrat"; 
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); 
}
a, a:link, a:active, a:focus {
	text-decoration: none !important;
}
dl, ol, ul {
	margin: 0 !important;
}
p {
	margin-bottom: 0 !important;
}
button {
	cursor: pointer;
}
nav {
	z-index: 100;
	position: fixed;
}
.alerts_main_nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 400px;
}
.alerts_main_nav {
	transition: .2s;
}
.a_click {
	display: block;
}
.nav_burger_menu, .dsplayNn, .hr_adapt {
	display: none;
}
.adapt_block_img, .nav_menu_burger, .top_block_nav_adapt, .nav_burger_menu_main, .top_adapt_two {
	display: none;
}
.top_header {
	z-index: 999;
	position: fixed;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.scrolled {
/*	background-color: rgba(28, 63, 119, 0.46);*/
	background-color: #fff;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
/*@keyframes anim_before_top {
	0% {
		top: -100px;
		left: 0;
	}
	100% {
		top: 0;
		left: 0;
	}
}
.scrolled::before {
	animation: .2s linear anim_before_top;
	animation-fill-mode: forwards;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1C3F77;
	width: 100%;
	height: 100%;
}*/
.top_block {
	position: relative;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.top_block_backgroundImg {
	z-index: -1;
	position: absolute;
	right: -1px;
	top: 0;
}
.top_block_image {
	z-index: 1;
	height: 750px;
	width: auto;
}
.top_block_content {
	position: relative;
	z-index: 2;
}
.top_block nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.top_block_content_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 55px;
	color: #1C3F77;
}
.top_block_content_text_2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #1C3F77;
}
.top_block_content_main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 155px;
}
.nav_menu, .nav_menu_link, .contacts {
	border-radius: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav_menu_link img {
	height: 100%;
}
.nav_menu_link a, .contacts a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 550;
	font-size: 21px;
	line-height: 30px;
	color: #1C3F77;
}
.nav_menu_link a.nav_menu_link_active {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #1C3F77;
}
.menu_functions {
	padding-left: 7px;
}
.nav_menu_link:hover .menu_functions, .contacts:hover .menu_functions {
	color: #1C3F77;
	text-decoration: none;
}
.nav_bottom_arrow {
	margin-top: 3px;
	margin-left: 5px;
	padding-right: 9px;
}
.top_block_image {
	-webkit-transform: translateX(0px) translateY(-100px);
	    -ms-transform: translateX(0px) translateY(-100px);
	        transform: translateX(0px) translateY(-100px);
}
.top_block_content_text_2 {
	margin-top: 16px;
	-webkit-transform: translateX(65px);
	    -ms-transform: translateX(65px);
	        transform: translateX(65px);
}
.nav_menu_link a {
	position: relative;
}
.top_menu_drop {
	opacity: 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	top: -299px;
	width: auto;
	list-style-type: none;
}
@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
.top_menu_drop_active {
	-webkit-transform: rotate(0);
	    -ms-transform: rotate(0);
	        transform: rotate(0);
	-webkit-animation: linear .2s fadein;
	        animation: linear .2s fadein;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
	top: 105%;
}
.top_header {
	height: 73px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.top_header_logo a {
	height: 100%;
	display: block;
}
.top_header_logo:hover a {
	text-decoration: none;
}
.top_block_nav_logo_bg {
	position: absolute;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s; 
}
.top_header_logo_content {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 73px;
	width: 210px;
}
.logo_icon, .top_block_nav_text_main {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
nav {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.top_block_nav_text {
	margin-left: 5px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}
.translateY {
	-webkit-transform: translateY(8px);
	    -ms-transform: translateY(8px);
	        transform: translateY(8px);
}
.top_header_logo_content img, .top_header_logo_content p {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
}
.top_header_logo {
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.top_menu_drop {
	padding: 7px 0;
}
.top_menu_drop li {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	padding: 0 12px;
	margin: 7px 0;
}
.top_menu_drop li a {
	font-family: Montserrat;
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	display: block;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.top_menu_drop li:hover a {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	/*font-weight: bold;*/
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	text-shadow: 0px 0px 0.8px #25416C;
	color: #fff;
}
.top_menu_drop {
	background: linear-gradient(111.99deg, #22629B -17.63%, #23539F 47.67%, #22629B 117.88%);
	box-shadow: 0px 7px 29px rgba(28, 63, 119, 0.25);
	border-radius: 10px;
}
.top_menu_drop_border {
	border-radius: 10px;
}
.nav_menu_link_open {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	background: linear-gradient(111.99deg, #22629B -17.63%, #23539F 47.67%, #22629B 117.88%);
	box-shadow: 0px 7px 29px rgba(28, 63, 119, 0.25);
	border-radius: 10px;
	height: 40px;
    z-index: 5;
}
.menu_functions_active {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #fff !important;
}
.nav_bottom_arrow_active {
	content: url(../img/nav_bottom_arrow_active.svg) !important;
}
.middle_block_content_top_text {
	margin-top: 40px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;	
	color: #1C3F77;
}
.middle_block_content_top_text a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	text-align: center;
	color: #142643;
}
.middle_block_content_top_text a:hover {
	color: #1C3F77;
}
.middle_block_content_main_block_element {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #1C3F77;
	background: #FFFFFF;
	border: 1px solid #1C3F77;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 10px #2462C0;
	        box-shadow: inset 0px 0px 10px #2462C0;
	border-radius: 10px;
	margin-bottom: 32px;
	background: linear-gradient(93.65deg, #1F5088 -16.73%, #1C3F77 55.26%, #22629B 128.47%);
	box-shadow: 0px 7px 29px rgba(28, 63, 119, 0.25);
	border-radius: 30px;
}
.middle_block_element_padding_1 {
	padding: 24px 15px;
}
.middle_block_element_padding_2 {
	padding: 12px 20px;
}
.middle_block_content_main_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 25px;
}
.middle_block_content_main_block_top, .middle_block_content_main_block_bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.middle_block_content_main_block_top {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: center;
}
.middle_block_content_main_block_bottom {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.middle_block_element_padding_bottom {
	width: 466px;
	margin: 0 16px;
}
.middle_block_2 {
	margin-top: 50px;
}
.middle_block_2_content_main_block {
	margin-top: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.middle_block_content_main_block_element:first-child {
	margin-right: 16px;
}
.middle_block_content_main_block_element:nth-child(2) {
	margin-right: 16px;
	margin-left: 16px;
}
.middle_block_content_main_block_element:nth-child(3) {
	margin-left: 16px;
}
.middle_block_2_content_main_block_element {
	width: 335px;
}
.middle_block_2_top_side, .middle_block_2_middle_side {
	margin-left: 19px;
}
.middle_block_2_top_side {
	margin-right: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #1C3F77;
	margin-top: 21px;
}
.middle_block_2_middle_side {
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 17px;
	line-height: 20px;
	color: #1C3F77;
	margin-top: 10px;
	margin-right: 13px;
	height: 270px;
}
.middle_block_2_button {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background: #1C3F77;
	border-radius: 10px;
	padding: 13px 40px;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	position: relative;
	overflow: hidden;
	background-color: #1C3F77;
	background: linear-gradient(111.99deg, #22629B -17.63%, #1C3F77 47.67%, #22629B 117.88%);
	box-shadow: 0px 7px 29px rgba(28, 63, 119, 0.25);
}
.middle_block_2_button::before {
	position: absolute;
	content: "";
	opacity: 0.7;
	background-color: #fff;
	height: 100px;
	width: 20px;
	top: 0;
	left: -100px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-webkit-transform: translateY(-20px) rotate(45deg);
	    -ms-transform: translateY(-20px) rotate(45deg);
	        transform: translateY(-20px) rotate(45deg);
}
.middle_block_2_button:hover {
	background: #406aad;
	-webkit-box-shadow: 0px 0px 3px #406aad;
	        box-shadow: 0px 0px 3px #406aad;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.middle_block_2_button:hover:before {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	left: 300px;
}
.middle_block_2_bottom_side {
	margin-top: 45px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 33px;
}
.middle_block_2_hr {
	background: #1C3F77;
	-webkit-box-shadow: 0px 0px 3px rgba(36, 98, 192, 0.25);
	        box-shadow: 0px 0px 3px rgba(36, 98, 192, 0.25);
	border-radius: 2px;
	height: 2px;
	width: 100%;
	margin-top: 15px;
}
.middle_block_element__1, .middle_block_element__2, .middle_block_element__3 {
	background: #E7F1FA;
	box-shadow: 0px 5px 15px rgba(28, 63, 119, 0.15);
	border-radius: 35px;
	color: #FFFFFF;
}
.slider_section_top_text {
	margin-top: 50px;
}
.course_name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 39px;
	color: #25416C;
}
.view_course {
	border: none;
	outline: none;
	background: #1C3F77;
	border-radius: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	padding: 20px 50px;
	margin-top: 44px;
	cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	position: relative;
	overflow: hidden;
	background-color: #1C3F77;
	background: linear-gradient(111.99deg, #22629B -17.63%, #1C3F77 47.67%, #22629B 117.88%);
	box-shadow: 0px 7px 29px rgba(28, 63, 119, 0.25);
}
.view_course::before {
	position: absolute;
	content: "";
	opacity: 0.7;
	background-color: #fff;
	height: 100px;
	width: 20px;
	top: 0;
	left: -100px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-webkit-transform: translateY(-20px) rotate(45deg);
	    -ms-transform: translateY(-20px) rotate(45deg);
	        transform: translateY(-20px) rotate(45deg);
}
.view_course:hover {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.view_course:hover:before {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	left: 300px;
}
.carousel_courses_slider_element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.carousel_courses_slider_element_text_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-left: 54px;
}
.courses_slider {
	margin-top: 25px;
	margin-bottom: 50px;
}
.carousel_courses_slider_element_image_block {
	max-width: 717px;
	min-width: 717px;
}
.owl-dots button {
	display: block;
	height: 13px;
	width: 13px;
	border-radius: 50%;
 	border: 2.2px solid #1C3F77 !important;
 	-webkit-transition: .2s;
 	-o-transition: .2s;
 	transition: .2s;
}
.owl-dots button.active {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	background-color: #1C3F77 !important;
}
.courses_slider_class {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.owl-dots {
	margin-left: 20px !important;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	    -ms-flex-direction: column !important;
	        flex-direction: column !important;
	margin: 110px 0;
	text-align: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.feedback_text_top {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	color: #1C3F77;
}
.feedback_text_bottom {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 55px;
	color: #1C3F77;
}
.feedback_right_bottom_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #25416C;
}
.feedback_right_bottom_button {
	background: #1C3F77;
	border-radius: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	border: none;
	outline: none;
	padding: 20px 86px;
	background-color: #1C3F77;
	background: linear-gradient(111.99deg, #22629B -17.63%, #1C3F77 47.67%, #22629B 117.88%);
	box-shadow: 0px 7px 29px rgba(28, 63, 119, 0.25);
}
.feedback_content_element {
	position: relative;
	z-index: 4;
}
.feedback_content_element_add_text {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
    opacity: 0;
    position: absolute;
    z-index: 5;
    top: 8px;
    left: 15px;
    padding: 8px 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #1C3F77;
    background-color: transparent;
    border-radius: 20px;
	-webkit-box-shadow: 0px 24px 14px -15px rgba(36, 98, 192, 0.14);
	        box-shadow: 0px 24px 14px -15px rgba(36, 98, 192, 0.14);
}
.feedback {
	position: relative;
}
.feedback_content_element input, .feedback_content_element textarea {
	width: 100%;
}
.feedback_left_side, .feedback_right_side {
	padding-top: 23px;
}

.feedback_left_side_text_main, .feedback_right_side{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.feedback_left_side {
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.feedback_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.user_data {
	background: rgba(255, 255, 255, 0.02);
	border: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 10px #2462C0;
	        box-shadow: inset 0px 0px 10px #2462C0;
	border-radius: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: rgba(0, 0, 0, 0.6);
	padding: 15px 16px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	color: rgba(0, 0, 0, 0.6);
	background: #E7F1FA;
	box-shadow: 0px 7px 20px rgba(28, 63, 119, 0.25);
	border-radius: 10px;
}
.user_data_clicked {
	-webkit-box-shadow:inset  0px 0px 1px 1.1px #1C3F77;
	        box-shadow: inset 0px 0px 1px 1.1px #1C3F77;
		-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.feedback_right_bottom_text {
	margin-top: 15px;
}
.feedback_right_bottom_button {
	margin-top: 15px;
	width: 260px;
	margin-bottom: 23px;
	position: relative;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	overflow: hidden;
}
.feedback_right_bottom_button::before {
	position: absolute;
	content: "";
	opacity: 0.7;
	background-color: #fff;
	height: 100px;
	width: 20px;
	top: 0;
	left: -100px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-webkit-transform: translateY(-20px) rotate(45deg);
	    -ms-transform: translateY(-20px) rotate(45deg);
	        transform: translateY(-20px) rotate(45deg);
}
.feedback_right_bottom_button:hover {
	background: #406aad;
	-webkit-box-shadow: 0px 0px 3px #406aad;
	        box-shadow: 0px 0px 3px #406aad;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.feedback_right_bottom_button:hover:before {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	left: 300px;
}
.user_data {
	margin: 14px 0;
}
.user_text {
	height: 220px;
	margin-bottom: 0;
}
.news_top_text {
	margin-top: 54px;
}
.news_content_blocks {
	margin-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        /*justify-content: space-between;*/
	         justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.news_content_element_text_top {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #25416C;
	margin-top: 10px;
}
.news_content_element_text_bottom {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #25416C;
	margin-top: 6px;
}
.news_content_blocks_element {
	margin-bottom: 30px;
	width: 30%;
}
.news_content_blocks_element, .news_content_blocks_element_text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.news_content_blocks_element_image img {
	height: 100%;
	width: 100%;
}
.news_content_block_element_href {
	display: block;
	text-decoration: none;
}
.news_content_block_element_href:hover {
	text-decoration: none;
	color: #25416C;
}
.news_block_btn {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.news_content_btn {
	background: #1C3F77;
	border-radius: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	padding: 20px 74px;
	margin-top: 40px;
	margin-bottom: 50px;
	border: none;
	position: relative;
	overflow: hidden;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.news_content_btn::before {
	position: absolute;
	content: "";
	opacity: 0.7;
	background-color: #fff;
	height: 100px;
	width: 20px;
	top: 0;
	left: -100px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-webkit-transform: translateY(-20px) rotate(45deg);
	    -ms-transform: translateY(-20px) rotate(45deg);
	        transform: translateY(-20px) rotate(45deg);
}
.news_content_btn:hover {
	background: #406aad;
	-webkit-box-shadow: 0px 0px 3px #406aad;
	        box-shadow: 0px 0px 3px #406aad;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.news_content_btn:hover:before {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	left: 300px;
}
footer {
	background-color: #1C3F77;
	background: linear-gradient(111.99deg, #22629B -17.63%, #1C3F77 47.67%, #22629B 117.88%);
	box-shadow: 0px 7px 29px rgba(28, 63, 119, 0.25);
}
.footer_content {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer_content_element_content_element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer_content_element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footer_content_element:first-child {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}
.footer_content_element_left_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}
.footer_content_element_right_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
}
.footer_content_element_right_href {
	display: block;
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
    line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 24px;
	text-decoration: none;
}
.footer_content_element_right_href:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
}
.crdo {
	margin-bottom: 47px;
}
.logo_footer {
	margin-right: 25px;
	width: 84px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer_content_element_right_text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.margin_top_footer {margin-top: 20px;}
/*Animation*/
.feedbacl_lest_side_text_image {
	position: relative;
}
.block_feedback_animation {
	position: absolute;
	top: 0;
	right: 0;
}
.block_anim {
	position: absolute;
}
@-webkit-keyframes anim_block {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes anim_block {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes anim_block_one {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes anim_block_one {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.block_anim_1 {
	opacity: 0;
	-webkit-animation: 7s linear infinite anim_block_one;
	        animation: 7s linear infinite anim_block_one;
	top: 110px;
	left: -245px;
}
.block_anim_2 {
	opacity: 0;
	-webkit-animation: 7s linear infinite anim_block;
	        animation: 7s linear infinite anim_block;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
	top: 68px;
	left: -201px;
}
.block_anim_3 {
	opacity: 0;
	-webkit-animation: 7s linear infinite anim_block;
	        animation: 7s linear infinite anim_block;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
	top: 52px;
	left: -140px;
}
/**/
.alerts_main_nav {
	position: relative;
}
.top_menu_drop  {
	z-index: 5;
}
.nav_menu_link a {
	z-index: 5;
}
.add_corner {
	-webkit-transform: translateY(-299px);
	    -ms-transform: translateY(-299px);
	        transform: translateY(-299px);
	z-index: 2;
	top: 32px;
	right: 294px;
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 50px;
	opacity: 0;
}
.add_corner_anim_active {
	-webkit-animation: linear .2s fadein;
	        animation: linear .2s fadein;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}
.add_corner_2 {
	opacity: 1;
	top: 20px;
	right: 274px;
	height: 25px;
	width: 25px;
	background-color: #1C3F77;
}
.add_corner_open {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}
.add_corner_2_1 {
	top: 33px;
    right: 123px;
}
.add_corner_2_2 {
	top: 20px;
	right: 104px;
}
.menu_functions {
	position: static;
	z-index: 5;
}
.onMobile {
	display: none;
}
.wrapper_footer {
	padding: 53px 0;
	height: calc(100% - 53px);
}
.footer_content_element_right_href:last-child {
	margin-bottom: 0;
}
/*Main Img*/
.main_page_img {
	position: relative;
}
.top_block_image {
	max-width: 717px;
	z-index: 5;
	position: relative;
}
.positioningMain {
	position: absolute;
}
.cloud_main {
	z-index: -1;
	top: 10px;
    left: 15px;
    max-width: 682px;
}
.сogwheel_1 {
    max-width: 98px;
    top: 144px;
    right: 351px;
}
.сogwheel_2 {
    max-width: 44px;
    top: 22px;
    right: 255px;
}
.сogwheel_3 {
    max-width: 102px;
    top: 80px;
    right: 247px;
}
.сodeIcon {
	z-index: 20;
	max-width: 175px;
	top: 263px;
	left: 95.5px;
}
.code_logo {
    z-index: 20;
    max-width: 65px;
    top: 112px;
    left: 26px;
}
.line_bg {
    max-width: 242px;
    top: 243px;
    left: 227px;
    z-index: 20;
    opacity: 0;
}
.line_bg_on {
    opacity: 1;
    z-index: 19;
    top: 246px;
}
.line_bg_1 {
	opacity: 1;
}
.man_bg_main {
    opacity: 0;
    max-width: 186px;
    top: 262px;
    left: 227px;
    z-index: 20;
}
.man_bg_main_2 {
	opacity: 1;
}
@-webkit-keyframes animationCode {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes animationCode {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.code {
	opacity: 0;
	z-index: 21;
	top: 0;
	left: 80.5px;
	max-width: 118px;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}
.code_1 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	top: 263px;
	max-width: 100px;
}
.code_2 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
	top: 263px;
	max-width: 13px;
}
.code_3 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
	top: 273px;
	max-width: 66px;
}
.code_4 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 1.5s;
	        animation-delay: 1.5s;
	top:  283px;
	max-width: 105px;
}
.code_5 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
	top: 293px;
	max-width: 40px;
}
.code_6 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 2.5s;
	        animation-delay: 2.5s;
	top:  313px;
}
.code_7 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 3s;
	        animation-delay: 3s;
	top:  323px;
}
.code_8 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 3.5s;
	        animation-delay: 3.5s;
	top:  333px;
	max-width: 65px;
}
.code_9 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 4s;
	        animation-delay: 4s;
	top:  343px;
	max-width: 50px;
}
.code_10 {
	-webkit-animation: animationCode linear 5s infinite;
	        animation: animationCode linear 5s infinite;
	-webkit-animation-delay: 4.5s;
	        animation-delay: 4.5s;
	top:  353px;
	max-width: 34px;
}
/*Anim Background Main*/
@-webkit-keyframes rotateCogwheel {
	0% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes rotateCogwheel {
	0% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
.сogwheel_1 {
	-webkit-animation: infinite 5s linear rotateCogwheel;
	        animation: infinite 5s linear rotateCogwheel;
}
.сogwheel_2 {
	-webkit-animation: infinite 2s linear rotateCogwheel;
	        animation: infinite 2s linear rotateCogwheel;
}
.сogwheel_3 {
	-webkit-animation: infinite 8s linear rotateCogwheel;
	        animation: infinite 8s linear rotateCogwheel;
}
@-webkit-keyframes fade-out_one {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	24% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out_one {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	24% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes fade-out_one_add {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	24% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out_one_add {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	24% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes fade-out_two {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	24% {
		opacity: 1;
	}
	32% {
		opacity: 1;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out_two {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	24% {
		opacity: 1;
	}
	32% {
		opacity: 1;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes fade-out_three {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	24% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 1;
	}
	92% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out_three {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	24% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 1;
	}
	92% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes fade-out_two_add {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	24% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out_two_add {
	0% {
		opacity: 0;
	}
	7% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	24% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	52% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	67% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.man_bg_main_1 {
	-webkit-animation-delay: .5s;
	        animation-delay: .5s;
	-webkit-animation: 10s linear infinite fade-out_two;
	        animation: 10s linear infinite fade-out_two;
}
.man_bg_main_2 {
	-webkit-animation: 10s linear infinite fade-out_one;
	        animation: 10s linear infinite fade-out_one;
}
.man_bg_main_3 {
	-webkit-animation: 10s linear infinite fade-out_three;
	        animation: 10s linear infinite fade-out_three;
}
.line_bg_1 {
	-webkit-animation-delay: .5s;
	        animation-delay: .5s;
	-webkit-animation: 10s linear infinite fade-out_one_add;
	        animation: 10s linear infinite fade-out_one_add;
}
.line_bg_2 {
	-webkit-animation: 10s linear infinite fade-out_two;
	        animation: 10s linear infinite fade-out_two;	
}
.line_bg_3 {
	-webkit-animation: 10s linear infinite fade-out_two_add;
	        animation: 10s linear infinite fade-out_two_add;		
}
.line_bg_4 {
	-webkit-animation: 10s linear infinite fade-out_three;
	        animation: 10s linear infinite fade-out_three;
}
@-webkit-keyframes code_logo_one {
	0% {
		opacity: 0;
	}
	17% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	82% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes code_logo_one {
	0% {
		opacity: 0;
	}
	17% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	82% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes code_logo_two {
	0% {
		opacity: 0;
	}
	17% {
		opacity: 0;
	}
	33% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	82% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes code_logo_two {
	0% {
		opacity: 0;
	}
	17% {
		opacity: 0;
	}
	33% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	82% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.code_logo_1 {
	opacity: 0;
	-webkit-animation: 7s linear infinite code_logo_two;
	        animation: 7s linear infinite code_logo_two;
}
.code_logo_2 {
	opacity: 0;
	-webkit-animation: 7s linear infinite code_logo_one;
	        animation: 7s linear infinite code_logo_one;
}
/*.div_main_img {
	z-index: 20;
	top: 0;
	left: 0;
	background-color: #316090;
}
.div_main_img_1 {
	height: 84px;
	width: 173px;
	left: 97.5px;
	top: 263px;
}
.div_main_img_2 {
	height: 70px;
	width: 86px;
	top: 300px;
	left: 96px;
}*/
.block_anim img {
	width: 39px;
    height: 39px;
}
.nav_bottom_arrow {
	width: 21px;
}
/*Preloader*/
.loader .preloader {
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.spinner-wrapper {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #FFF;
 z-index: 999999;
}

.sk-folding-cube {
 position: absolute;
 top: 48%;
 left: 48%;
 width: 40px;
 height: 40px;
 -webkit-transform: rotateZ(45deg);
 -ms-transform: rotate(45deg);
     transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
 float: left;
 width: 50%;
 height: 50%;
 position: relative;
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: #1C3F77;
 -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
 animation: sk-foldCubeAngle 2.4s infinite linear both;
 -webkit-transform-origin: 100% 100%;
 -ms-transform-origin: 100% 100%;
 transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
 -webkit-transform: scale(1.1) rotateZ(90deg);
 -ms-transform: scale(1.1) rotate(90deg);
     transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
 -webkit-transform: scale(1.1) rotateZ(180deg);
 -ms-transform: scale(1.1) rotate(180deg);
     transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
 -webkit-transform: scale(1.1) rotateZ(270deg);
 -ms-transform: scale(1.1) rotate(270deg);
     transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
 -webkit-animation-delay: 0.3s;
 animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
 -webkit-animation-delay: 0.6s;
 animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
 -webkit-animation-delay: 0.9s;
 animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
 0%,
 10% {
  -webkit-transform: perspective(140px) rotateX(-180deg);
  transform: perspective(140px) rotateX(-180deg);
  opacity: 0;
 }
 25%,
 75% {
  -webkit-transform: perspective(140px) rotateX(0deg);
  transform: perspective(140px) rotateX(0deg);
  opacity: 1;
 }
 90%,
 100% {
  -webkit-transform: perspective(140px) rotateY(180deg);
  transform: perspective(140px) rotateY(180deg);
  opacity: 0;
 }
}

@keyframes sk-foldCubeAngle {
 0%,
 10% {
  -webkit-transform: perspective(140px) rotateX(-180deg);
  transform: perspective(140px) rotateX(-180deg);
  opacity: 0;
 }
 25%,
 75% {
  -webkit-transform: perspective(140px) rotateX(0deg);
  transform: perspective(140px) rotateX(0deg);
  opacity: 1;
 }
 90%,
 100% {
  -webkit-transform: perspective(140px) rotateY(180deg);
  transform: perspective(140px) rotateY(180deg);
  opacity: 0;
 }
}
