	<img src="images/linesUnderSide.svg" class="unserLines">
			<div class="container feedback_content">
			
				<div class="feedback_left_side">
					<div class="feedback_left_side_text">
						<div class="feedback_left_side_text_main">
							<span class="feedback_text_top">Остались вопросы?</span>
							<span class="feedback_text_bottom">Обратная связь!</span>
						</div>
						<div class="feedback_lest_side_text_image">
							<img src="images/contactUs.png" class="contactUsImage" alt="contactUs">
							<div><img src="images/planes.svg" class="underPlanes"></div>
						</div>
					</div>
				</div>
				<form>
					<div class="feedback_right_side">
						<div class="feedback_content_element">
							<input type="name" name="user_fio" class="user_fio user_data" placeholder="Ф.И.О">
							<div class="feedback_content_element_add_text">Ф.И.О</div>
						</div>
						<div class="feedback_content_element">
							<input type="name" name="user_email" class="user_email user_data" placeholder="Ваша электронная почта">
							<div class="feedback_content_element_add_text">Ваша электронная почта</div>
						</div>
						<div class="feedback_content_element">
							<textarea name="user_text" class="user_text user_data" placeholder="Ваше сообщение" maxlength="1000" style="margin-bottom: 0"></textarea>
							<div class="feedback_content_element_add_text">Ваше сообщение</div>
						</div>
						<div class="feedback_right_bottom_text">Мы не занимаемся рассылкой рекламных сообщений,<br> а так же не передаем контактные данные третьим лицам.</div>
						<button class="feedback_right_bottom_button" type="submit">Отправить</button>
					</div>
				</form>
			</div>
