							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">АСОИ</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info">1 - <b>2</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ИПОИТ</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info">1 - <b>2</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ИиТП</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info">1 - <b>2</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ИСиТ (БМ)</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info">1 - <b>2</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ИСиТ (ОПБ)</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><img src="img/none-icon.svg"></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info"><img src="img/none-icon.svg"></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ИСиТ (Э)</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><img src="img/none-icon.svg"></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info"><img src="img/none-icon.svg"></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ПМС</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info">1 - <b>2</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ПОИТ</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info">1 - <b>2</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ЭЭБ</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info">1 - <b>2</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">ЭМ</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2021</div>
											<div class="year_info"><b>1</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2020</div>
											<div class="year_info">1 - <b>2</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2019</div>
											<div class="year_info">1 - 2 - <b>3</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2018</div>
											<div class="year_info">1 - 2 - 3 - <b>4</b></div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">2017</div>
											<div class="year_info">1 - 2 - 3 - 4 - <b>5</b></div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>