						<div class="eduacation_plans_main_block_element_name">Виды услуг</div>
						<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">Повторный приём экзамена</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">профессор, д. н. (BYN)</div>
											<div class="year_info">3.45</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">доцент, к. н. (BYN)</div>
											<div class="year_info">3.15</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">без степени (BYN)</div>
											<div class="year_info">2.88</div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">Повторный приём зачёта</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">профессор, д. н. (BYN)</div>
											<div class="year_info">2.42</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">доцент, к. н. (BYN)</div>
											<div class="year_info">2.21</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">без степени (BYN)</div>
											<div class="year_info">2.01</div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">Повторный приём<br>лабораторных работ</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">профессор, д. н. (BYN)</div>
											<div class="year_info">5.18</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">доцент, к. н. (BYN)</div>
											<div class="year_info">4.73</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">без степени (BYN)</div>
											<div class="year_info">4.31</div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">Защита курсового проекта при расхождении учебных планов</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">профессор, д. н. (BYN)</div>
											<div class="year_info">20.70</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">доцент, к. н. (BYN)</div>
											<div class="year_info">18.90</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">без степени (BYN)</div>
											<div class="year_info">17.25</div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">Защита курсовой работы при расхождении учебных планов)</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">профессор, д. н. (BYN)</div>
											<div class="year_info">13.80</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">доцент, к. н. (BYN)</div>
											<div class="year_info">12.60</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">без степени (BYN)</div>
											<div class="year_info">11.50</div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>
							<div class="mobile_table_block">
								<div class="mobile_table_name">
									<div class="mobile_table_block_name">Повторная защита курсовой работы,<br> курсового проекта</div>
									<div class="mobile_alert"><img src="img/mobile_alert_table.svg"></div>
								</div>
								<div class="relation__drop">
									<div class="mobile_table_block_drop">
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">профессор, д. н. (BYN)</div>
											<div class="year_info">2.42</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">доцент, к. н. (BYN)</div>
											<div class="year_info">2.21</div>
										</div>
										<div class="table_hr"></div>
										<div class="mobile_table_block_drop_content">
											<div class="year_drop">без степени (BYN)</div>
											<div class="year_info">2.01</div>
										</div>
										<div class="table_hr"></div>
									</div>
								</div>
							</div>