<div class="middle_block_content_top_text slider_section_top_text"><a href="/course-examples.html">Примеры разработанных курсов</a></div>
			<div class="courses_slider" id="coursesSlider">
				<div class="owl-carousel courses_slider_class">
					<div class="carousel_courses_slider_element">
						<a href="/course-examples.html" class="a_click"><div class="carousel_courses_slider_element_image_block"><img src="/img/course-image-1.svg"></div></a>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name">Высшая математика</div>
							<a href="/course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
					<div class="carousel_courses_slider_element">
						<a href="/course-examples.html" class="a_click"><div class="carousel_courses_slider_element_image_block"><img src="/img/course-image-2.svg"></div></a>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name">Прикладной статистический анализ</div>
							<a href="/course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
					<div class="carousel_courses_slider_element">
						<a href="/course-examples.html" class="a_click"><div class="carousel_courses_slider_element_image_block"><img src="/img/course-image-3.svg"></div></a>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name">МСиСвИнфТ</div>
							<a href="/course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
					<div class="carousel_courses_slider_element">
						<a href="/course-examples.html" class="a_click"><div class="carousel_courses_slider_element_image_block"><img src="/img/course-image-4.svg" class="language_block_course"></div></a>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name" id="course_english_name">Русский как иностранный</div>
							<a href="/course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
				</div>
			</div>