<div class="middle_block_content_top_text slider_section_top_text">Примеры разработанных курсов</div>
			<div class="courses_slider" id="coursesSlider">
				<div class="owl-carousel courses_slider_class">
					<div class="carousel_courses_slider_element">
						<div class="carousel_courses_slider_element_image_block"><img src="img/course_image.svg"></div>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name">Высшая математика</div>
							<a href="../course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
					<div class="carousel_courses_slider_element">
						<div class="carousel_courses_slider_element_image_block"><img src="img/course_image.svg"></div>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name">Экономика</div>
							<a href="../course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
					<div class="carousel_courses_slider_element">
						<div class="carousel_courses_slider_element_image_block"><img src="img/course_image.svg"></div>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name">Физика</div>
							<a href="../course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
					<div class="carousel_courses_slider_element">
						<div class="carousel_courses_slider_element_image_block"><img src="img/course_image.svg"></div>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name">ИКГ</div>
							<a href="../course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
					<div class="carousel_courses_slider_element">
						<div class="carousel_courses_slider_element_image_block"><img src="img/course_image.svg"></div>
						<div class="carousel_courses_slider_element_text_block">
							<div class="course_name">ОАиП</div>
							<a href="../course-examples.html"><button class="view_course">Посмотреть курс</button></a>
						</div>
					</div>
				</div>
			</div>