
			<div class="container feedback_content">
				<div class="feedback_left_side">
					<div class="feedback_left_side_text">
						<div class="feedback_left_side_text_main">
							<span class="feedback_text_top">Остались вопросы?</span>
							<span class="feedback_text_bottom">Обратная связь!</span>
						</div>
						<div class="feedbacl_lest_side_text_image"><img src="img/animation-feedback-main.svg">
							<div class="block_feedback_animation">
								<div class="block_anim block_anim_1"><img src="img/animation-block-template-feedback.svg"></div>
								<div class="block_anim block_anim_2"><img src="img/animation-block-template-feedback.svg"></div>
								<div class="block_anim block_anim_3"><img src="img/animation-block-template-feedback.svg"></div>
							</div>
						</div>
					</div>
				</div>
				<form>
					<div class="feedback_right_side">
						<div class="feedback_content_element">
							<input type="name" name="user_fio" class="user_fio user_data" placeholder="И.Ф.О">
							<div class="feedback_content_element_add_text">И.Ф.О</div>
						</div>
						<div class="feedback_content_element">
							<input type="name" name="user_email" class="user_email user_data" placeholder="Ваша электронная почта">
							<div class="feedback_content_element_add_text">Ваша электронная почта</div>
						</div>
						<div class="feedback_content_element">
							<textarea name="user_text" class="user_text user_data" placeholder="Ваше сообщение" maxlength="1000"></textarea>
							<div class="feedback_content_element_add_text">Ваше сообщение</div>
						</div>
						<div class="feedback_right_bottom_text">Мы не занимаемся рассылкой рекламных сообщений,<br>а так же не передаем контактные данные третьим лицам.</div>
						<button class="feedback_right_bottom_button">Отправить</button>
					</div>
				</form>
			</div>
			<script type="text/javascript" defer>
				$(document).ready(function(){
				$("#coursesSlider .owl-carousel").owlCarousel({
			        loop:true,
			        items: 1,
			        autoplay:true,
			        smartSpeed:1000, 
			        autoplayTimeout:8000,
			        margin: 15,
			        dots:true,
			        navText: false,
			    });
				});
			</script>
