<div class="wrapper_footer">
<div class="footer_content container">
				<div class="footer_content_element non_adapt_element">
					<div class="footer_content_element_content_element crdo">
						<img src="img/top_block_nav_logo.svg" class="logo_footer">
						<span class="footer_content_element_left_text">
							ЦЕНТР РАЗВИТИЯ<br>ДИСТАНЦИОННОГО<br>ОБРАЗОВАНИЯ
						</span>
					</div>
					<div class="footer_content_element_content_element bsuir">
						<img src="img/bsuir-logo.svg" class="logo_footer">
						<span class="footer_content_element_left_text">
							БЕЛОРУСКИЙ<br>ГОСУДАРСТВЕННЫЙ<br>УНИВЕРСИТЕТ ИНФОРМАТИКИ<br>И РАДИОЭЛЕКТРОНИКИ
						</span>
					</div>
				</div>
				<div class="footer_content_element footer_content_element_text">
					<div class="footer_content_element_right_content_text">
						<span class="footer_content_element_right_text">Карта сайта</span>
						<a href="develop-courses.html" class="footer_content_element_right_href margin_top_footer">Проектирование и разработка<br>электронных курсов</a>
						<a href="accompaniment.html" class="footer_content_element_right_href">Сопровождение системы<br>электронного обучения</a>
						<a href="organization.html" class="footer_content_element_right_href">Организация онлайн<br>мероприятий</a>
						<a href="news.html" class="footer_content_element_right_href">Новости</a>
						<a href="contact.html" class="footer_content_element_right_href">Контакты</a>
					</div>
				</div>
				<div class="footer_content_element footer_content_element_text">
					<div class="footer_content_element_right_content_text" id="second_margin_footer">
						<span class="footer_content_element_right_text">Контакты</span>
						<a href="#" class="footer_content_element_right_href margin_top_footer">Республика Беларусь, г. Минск,<br>ул. Козлова, 28, 220037</a>
						<div class="footer_content_element_right_href">Электронная почта<br>dist@bsuir.by</div>

						<div class="footer_content_element_right_href on_desk"style="margin-bottom: 0;">Техническая поддержка СЭО<br>+375 (17) 394-39-86</div>
						<div class="footer_content_element_right_href on_desk">+375 (17) 374-28-32</div>
						<a href="tel:+375293943986" class="footer_content_element_right_href onMobile" style="margin-bottom: 2px">Техническая поддержка СЭО<br>+375 (17) 394-39-86</a>
						<a href="tel:+375173742832" class="footer_content_element_right_href onMobile" style="margin-top: 0">+375 (17) 374-28-32</a>
						<div class="footer_content_element_right_href on_desk"style="margin-bottom: 0;">Сектор разработки ЭОР<br>+375 (17) 373-70-89</div>
						<div class="footer_content_element_right_href on_desk">+375 (17) 272-72-51</div>
						<a href="tel:+375173737089" class="footer_content_element_right_href onMobile" style="margin-bottom: 2px">Сектор разработки ЭОР<br>+375 (17) 373-70-89</a>
						<a href="tel:+375172727251" class="footer_content_element_right_href onMobile" style="margin-top: 0">+375 (17) 272-72-51</a>		
					</div>
				</div>
				<div class="footer_content_element adapt_element adapt_info_footer" style="align-self: flex-start;">
					<div class="footer_content_element_content_element crdo">
						<img src="img/top_block_nav_logo.svg" class="logo_footer">
						<span class="footer_content_element_left_text">
							ЦЕНТР РАЗВИТИЯ<br>ДИСТАНЦИОННОГО<br>ОБРАЗОВАНИЯ
						</span>
					</div>
					<div class="footer_content_element_content_element bsuir">
						<img src="img/bsuir-logo.svg" class="logo_footer">
						<span class="footer_content_element_left_text">
							БЕЛОРУСКИЙ<br>ГОСУДАРСТВЕННЫЙ<br>УНИВЕРСИТЕТ ИНФОРМАТИКИ<br>И РАДИОЭЛЕКТРОНИКИ
						</span>
					</div>
				</div>
			</div>
		</div>