<div class="footer_content container">
				<div class="footer_content_element">
					<div class="footer_content_element_content_element crdo">
						<img src="img/top_block_nav_logo.svg" class="logo_footer">
						<span class="footer_content_element_left_text">
							ЦЕНТР РАЗВИТИЯ<br>ДИСТАНЦИОННОГО<br>ОБРАЗОВАНИЯ
						</span>
					</div>
					<div class="footer_content_element_content_element bsuir">
						<img src="img/bsuir-logo.svg" class="logo_footer">
						<span class="footer_content_element_left_text">
							БЕЛОРУСКИЙ<br>ГОСУДАРСТВЕННЫЙ<br>УНИВЕРСИТЕТ ИНФОРМАТИКИ<br>И РАДИОЭЛЕКТРОНИКИ
						</span>
					</div>
				</div>
				<div class="footer_content_element footer_content_element_text">
					<div class="footer_content_element_right_content_text">
						<span class="footer_content_element_right_text">Карта сайта</span>
						<a href="develop-courses.html" class="footer_content_element_right_href margin_top_footer">Проектирование и разработка<br>электронных курсов</a>
						<a href="accompaniment.html" class="footer_content_element_right_href">Сопровождение системы<br>электронного обучения</a>
						<a href="organization.html" class="footer_content_element_right_href">Организация онлайн<br>мероприятий</a>
						<a href="contact.html" class="footer_content_element_right_href">Контакты</a>
					</div>
				</div>
				<div class="footer_content_element footer_content_element_text">
					<div class="footer_content_element_right_content_text">
						<span class="footer_content_element_right_text">Контакты</span>
						<a href="#" class="footer_content_element_right_href margin_top_footer">Республика Беларусь, г. Минск,<br>ул. Козлова, 28, 220037</a>
						<div class="footer_content_element_right_href">Электронная почта<br>000000000000@mail.com</div>
						<div class="footer_content_element_right_href on_desk">Номер телефона<br>+375 (29) 0000000</div>
						<div class="footer_content_element_right_href on_desk">Номер телефона<br>+375 (29) 0000000</div>
						<a href="tel:+375290000000" class="footer_content_element_right_href onMobile">Номер телефона<br>+375 (29) 0000000</a>
						<a href="tel:+375290000000" class="footer_content_element_right_href onMobile">Номер телефона<br>+375 (29) 0000000</a>		
					</div>
				</div>
			</div>
