	<nav class="container">
					<div class="top_header_logo">
						<a href="index.html">
							<div class="top_header_logo_content">
								<img src="img/top_block_nav_logo_bg.svg" class="top_block_nav_logo_bg">
								<img src="img/top_block_nav_logo.svg" class="logo_icon">
								<p class="top_block_nav_text top_block_nav_text_main">ЦРДО</p>
								<p class="top_block_nav_adapt top_block_nav_text_main top_adapt_one one_header">ЦЕНТР РАЗВИТИЯ<br>ДИСТАНЦИОННОГО<br>ОБРАЗОВАНИЯ</p>
								<p class="top_block_nav_adapt top_block_nav_text_main top_adapt_two">ЦРДО</p>
							</div>							
						</a>
						</div>
						<div class="nav_menu_burger nav_burger_menu top_out_btn">
								<span class="out_span"></span>
								<span class="out_span"></span>
								<span class="out_span"></span>
							</div>							
						<div class="nav_burger_menu_main">
							<div class="top_side_burger_menu">
								<a href="index.html">
								<div class="nav_burger_logo_block">
									<img src="img/mobile-logo.svg" class="mobile_logo">
									<p class="mobile_crdo_name">ЦРДО</p>
								</div>				
								</a>			
								<div class="nav_menu_burger nav_burger_menu burger_btn top_out_btn_active">
									<span class="out_span_active" style="background: #fff"></span>
									<span class="out_span_active" style="background: #fff"></span>
									<span class="out_span_active" style="background: #fff"></span>
								</div>
							</div>
							<div class="alerts_burger alerts_burger_off dsplayNn">
								<div class="hr_burger"></div>
								<div>
									<a href="#" class="alert_burger alert_burger_on">
									<div class="alert_burger_top_text">
										<div class="alert_name">Услуги</div>
										<div class="alert_arrow"><img src="img/nav_bottom_arrow.svg"></div>
									</div>
									<ul class="burger_drop_menu burger_drop_menu_off">
										<li><a href="develop-courses.html">Проектирование и разработка электронных курсов</a></li>
										<li><a href="accompaniment.html">Сопровождение системы электронного обучения</a></li>
										<li><a href="organization.html">Организация онлайн мероприятий</a></li>
									</ul>
									</a>
								</div>
								<div>
									<a href="#" class="alert_burger alert_burger_on">
										<div class="alert_burger_top_text">
											<div class="alert_name">Студентам</div>
											<div class="alert_arrow"><img src="img/nav_bottom_arrow.svg"></div>
										</div>
										<ul class="burger_drop_menu burger_drop_menu_off">
											<li><a href="educational-plans.html">Учебные планы</a></li>
											<li><a href="https://www.bsuir.by/m/12_100229_1_154572.pdf">График учебного процесса</a></li>
											<li><a href="document-templates.html">Шаблоны документов</a></li>
											<li><a href="https://www.bsuir.by/ru/oplata-obucheniya">Оплата обучения</a></li>
											<li><a href="retake.html">Стоимость пересдач</a></li>
										</ul>
									</a>
								</div>
								<a href="contact.html" class="alert_burger contact_burger">
									<div class="alert_name">Контакты</div>
								</a>
							</div>
						</div>
						<div class="alerts_main_nav">
							<div class="nav_menu_link">
								<div class="add_corner add_corner_anim"></div>
								<div class="add_corner add_corner_2"></div>
								<a href="#" class="menu_functions menu_fun">Уcлуги
									<img src="img/nav_bottom_arrow.svg" class="nav_bottom_arrow">
								</a>
								<ul class="top_menu_drop top_menu_drop_border">
										<li><a href="develop-courses.html">Проектирование и разработка электронных курсов</a></li>
										<li><a href="accompaniment.html">Сопровождение системы электронного обучения</a></li>
										<li><a href="organization.html">Организация онлайн мероприятий</a></li>
									</ul>
							</div>
							<div class="nav_menu_link">
								<div class="add_corner add_corner_anim add_corner_2_1"></div>
								<div class="add_corner add_corner_2 add_corner_2_2"></div>
								<a href="#" class="menu_functions menu_fun">Студентам
									<img src="img/nav_bottom_arrow.svg" class="nav_bottom_arrow">
								</a>
									<ul class="top_menu_drop top_menu_drop_border">
											<li><a href="educational-plans.html">Учебные планы</a></li>
											<li><a href="https://www.bsuir.by/m/12_100229_1_154572.pdf">График учебного процесса</a></li>
											<li><a href="document-templates.html">Шаблоны документов</a></li>
											<li><a href="https://www.bsuir.by/ru/oplata-obucheniya">Оплата обучения</a></li>
											<li><a href="retake.html">Стоимость пересдач</a></li>
									</ul>
								</a>
							</div>
							<div class="contacts">
								<a href="contact.html" class="menu_functions"> 
									<p>Контакты</p>
								</a>
							</div>	
						</div>					
					</div>
				</nav>
