@media screen and (max-width: 767px) {
    .mainSection {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #personImage {
        max-width: 250px;
        margin-left: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    #personImage {
        max-width: 300px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
    #personImage {
        max-width: 350px;
        margin-left: 50px;
    }
}