@media screen and (max-width: 767px) {
    #topSection article p {
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
    }
    .mainSection article a {
        padding-bottom: 3px;
    }
    #topSection article a:hover {
        padding-bottom: 1px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    #topSection article p {
        max-width: 75%;
    }
}