* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
}
body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
:root {
    --main-bg-color: #000;
    --page-bg-color: #FCFCFC;
}
@font-face {
    font-family: Darlington;
    src: url("../fonts/Darlington.ttf");
}
body {
    background-color: var(--page-bg-color);;
}
header nav, footer, section {
    width: 80%;
    padding: 10px 10%;
}
header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-bottom: 1px solid #c0c0c0;
}
header nav a {
    font-size: 15px;
    padding: 10px 20px;
    color: var(--main-bg-color);
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
header nav a::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--main-bg-color);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
header nav a:hover:before {
    width: 100%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    left: 0;
}
.personName {
    font-family: Darlington;
    font-size: 50px;
}
footer {
    background-color: var(--main-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
footer p {
    color: #fff;
}
footer article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mainSection {
    padding: 100px 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #373737;
}
.mainSection article p {
    font-size: 20px;
    padding: 15px 0;
    letter-spacing: 5px;
}
#topSection article p {
    max-width: 55%;
}
section article p:first-child {
    color: #373737;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: bold;
}
.mainSection article a {
    text-decoration: none;
    border-bottom: 1px solid var(--main-bg-color);
    padding-bottom: 5px;
    color: #373737;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    cursor: pointer;
}
.mainSection article a:hover {
    border-bottom: 1px solid var(--main-bg-color);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
#topSection article a:hover {
    padding-bottom: 2px;
}
footer nav, .contactsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
footer nav a, .contactsList a {
    margin: 0 0 0 20px;
    display: block;
    height: 20px;
    width: 20px;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
}
#vk {
    background-image: url("../icons/vk.png");
}
#github {
    background-image: url("../icons/github.png");
}
#linkedin {
    background-image: url("../icons/linkedin.png");
}
#mail {
    background-image: url("../icons/email.png");
}
#tel {
    background-image: url("../icons/telephone-call-white.png");
}
.vk-black {
    background-image: url("../icons/vk-black.png");
}
.github-black {
    background-image: url("../icons/github-black.png");
}
.linkedin-black {
    background-image: url("../icons/linkedin-black.png");
}
.mail-black {
    background-image: url("../icons/email-black.png");
}
.tel-black {
    background-image: url("../icons/telephone-call.png");
}
header {
    position: relative;
    z-index: 200;
}
.contactsList {
    z-index: -1;
    position: absolute;
    right: 10%;
    opacity: 0;
    top: 100px;
}
.contactsList-active {
    opacity: 1;
}
.contactsList-active a {
    opacity: 0;
}
@-webkit-keyframes contactList__item_animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes contactList__item_animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.contactsList-active a:nth-child(1){
    -webkit-animation: contactList__item_animation .5s linear;
    animation: contactList__item_animation .5s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.contactsList-active a:nth-child(2){
    -webkit-animation: contactList__item_animation .5s linear;
    animation: contactList__item_animation .5s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .43s;
    animation-delay: .43s;
}

.contactsList-active a:nth-child(3){
    -webkit-animation: contactList__item_animation .5s linear;
    animation: contactList__item_animation .5s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .46s;
    animation-delay: .46s;
}

.contactsList-active a:nth-child(4){
    -webkit-animation: contactList__item_animation .5s linear;
    animation: contactList__item_animation .5s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .49s;
    animation-delay: .49s;
}

.contactsList-active a:nth-child(5){
    -webkit-animation: contactList__item_animation .5s linear;
    animation: contactList__item_animation .5s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .52s;
    animation-delay: .52s;
}
.loader .preloader {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.spinnerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--page-bg-color);
    z-index: 999999;
}

.skFoldingCube {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 40px;
    height: 40px;;
    -webkit-transform: rotateZ(45deg);;
    -ms-transform: rotate(45deg);;
    transform: rotateZ(45deg);
}

.skFoldingCube .skCube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.skFoldingCube .skCube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    -webkit-animation: skFoldCubeAngle 2.4s infinite linear both;
    animation: skFoldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.skFoldingCube .skCube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotate(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.skFoldingCube .skCube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotate(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.skFoldingCube .skCube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotate(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.skFoldingCube .skCube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.skFoldingCube .skCube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.skFoldingCube .skCube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes skFoldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes skFoldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}