.top_block_image {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
	height: auto;
}
.off_side {
	display: none;
}
.top_img_acc {
	max-width: 680px;
}
.top_block_text_up {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 55px;
	color: #25416C;
	-webkit-transform: translate(-105px, 50px);
	    -ms-transform: translate(-105px, 50px);
	        transform: translate(-105px, 50px);
	white-space: nowrap;
}
.top_block_text_bottom {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #1C3F77;
	-webkit-transform: translate(10px, 70px);
	    -ms-transform: translate(10px, 70px);
	        transform: translate(10px, 70px);
}
.top_block_accomp {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding-top: 70px;
}
.top_block_nav_logo_bg {
	display: none;
}
.accomp_second_block {
	background-color: #FAF2E7;
	margin-top: 60px;
}
.accomp_second_block_content {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.accomp_second_block_content_text_top {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 23px;
	line-height: 28px;
	color: #1C3F77;
	margin-bottom: 20px;
	padding-top: 20px;
}
.accomp_second_block_content_text_bottom {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 28px;
	color: #1C3F77;
	margin-bottom: 20px;
}
.top_header_logo_content {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.accomp_third_bottom_side {
	margin-top: 53px;
}
.accomp_third_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 40px;
}
.accomp_third_block_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	text-align: center;
	color: #1C3F77;
}
.accomp_third_bottom {	
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	    margin: 0 130px;
}
.accomp_third_block_content {
	margin-bottom: 50px;
	margin-top: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.accomp_third_block_content_element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.accomp_third_block_content_element_text {
	margin-left: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;
	color: #1C3F77;
}
.accomp_third_block_content_element_line {
	height: 80px;
	width: 3px;
	background: #FFFFFF;
	border: 1px solid #EC7955;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 4px #EC7955;
	        box-shadow: 0px 0px 4px #EC7955;
	border-radius: 3px;
}
/*Animation*/
@-webkit-keyframes girl_falling {
	0% {
		top: -500px;
		left: 357px;
	}
	50% {
		top: 40px;
		left: 357px;
	}
	100% {
		top: -500px;
		left: 357px;
	}
}
@keyframes girl_falling {
	0% {
		top: -500px;
		left: 357px;
	}
	50% {
		top: 40px;
		left: 357px;
	}
	100% {
		top: -500px;
		left: 357px;
	}
}
.girl_falling {
	-webkit-animation: 6s infinite ease-in-out girl_falling;
	        animation: 6s infinite ease-in-out girl_falling;
	-webkit-animation-delay: .5s;
	        animation-delay: .5s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	position: absolute;
	top: -999px;
	left: 357px;
}
.off_side {
	display: none;
}