@media (max-width: 767px){
	.girl_falling_img {
		content: url(../img/girl-falling_320.svg) !important;
	}
	.nav_menu_burger span {
		background-color: #fff;
	}
	.top_header, .top_header_logo_content {
		height: 35px;
	}
	.logo_icon {
		content: url(../img/320_top_block.png) !important;
	}
	.nav_menu_burger span:last-child {
		margin-bottom: 0;
	}
	.top_header_logo_content {
		height: 47px;

	}
	.top_block_text_up {
		max-width: 300px;
		-webkit-transform: translateY(-145px);
		    -ms-transform: translateY(-145px);
		        transform: translateY(-145px);
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 19px;
		line-height: 23px;
		color: #25416C;
		white-space: pre-line;
	}
	.top_block_text_up br {
		display: none;
	}
	.top_img_acc {
		-webkit-transform: translateX(50px) translateY(90px);
		    -ms-transform: translateX(50px) translateY(90px);
		        transform: translateX(50px) translateY(90px);
	}
	.accomp_second_block {
		margin-top: 20px;
	}
	.accomp_third_block_content {
		margin-bottom: 25px;
	}
	.top_block_img {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.top_img_acc {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
		padding-top: 100px;
	}
	.top_block_text_up {
		z-index: -1;
		-webkit-transform: translateY(-245px);
		    -ms-transform: translateY(-245px);
		        transform: translateY(-245px);
	}
	.girl_falling_img {
		content: normal;
		max-width: 80px;
	}
	.accomp_third_block_content_element {
		margin-bottom: 10px;
	}
}
@media(min-width: 768px) and (max-width: 1439px){
	.top_img_acc {
		max-width: 400px;
		padding-top: 50px;
	}
	.top_block_text_up {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 30px;
		color: #25416C;
		-webkit-transform: translate(25px, 60px);
		    -ms-transform: translate(25px, 60px);
		        transform: translate(25px, 60px);
	}
	.top_block_text_bottom {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #1C3F77;
		-webkit-transform: translate(60px, 70px);
		    -ms-transform: translate(60px, 70px);
		        transform: translate(60px, 70px);
	}
	.girl_falling_img {
		max-width: 130px;
	}
	@-webkit-keyframes girl_falling_adapt {
	0% {
		top: -100px;
		left: 180px;
	}
	50% {
		top: 50px;
		left: 180px;
	}
	100% {
		top: -100px;
		left: 180px;
	}
}
	@keyframes girl_falling_adapt {
	0% {
		top: -100px;
		left: 180px;
	}
	50% {
		top: 50px;
		left: 180px;
	}
	100% {
		top: -100px;
		left: 180px;
	}
}
	.girl_falling_img {
		z-index: 40;
	}
	.girl_falling {
		-webkit-animation: 4s linear infinite girl_falling_adapt;
		        animation: 4s linear infinite girl_falling_adapt;
		left: 180px;
		top: 96px;
	}
	.accomp_second_block_content_text_top {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #1C3F77;
		margin-bottom: 10px;
	}
	.accomp_second_block_content_text_bottom {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #1C3F77;
		margin-bottom: 10px;
	}
	.accomp_second_block {
		margin-top: 20px;
	}
	.accomp_third_block_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		text-align: center;
		color: #1C3F77;
	}
	.accomp_third_block {
		margin-top: 25px;
	}
	.accomp_third_block_content_element_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #1C3F77;
	}
	.accomp_third_block_content_element_line {
		height: 50px;
	}
	.accomp_third_block_content {
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.accomp_third_bottom {
		margin: 0 80px;
	}
	.top_block_accomp {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
}
@media(min-width: 1024px) and (max-width: 1439px){
	.top_block_accomp {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.top_block_text_up {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 35px;
		line-height: 43px;
		color: #25416C;
		-webkit-transform: translate(-25px, 60px);
		    -ms-transform: translate(-25px, 60px);
		        transform: translate(-25px, 60px);
	}
	.top_block_text_bottom {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #1C3F77;
		margin-right: 70px;
	}
	.top_block_text {
		padding-top: 20px;
	}
	.top_img_acc {
		max-width: 560px;
	}
	.girl_falling_img {
		max-width: 180px;
	}
	@-webkit-keyframes girl_falling_adapt {
	0% {
		top: -100px;
		left: 270px;
	}
	50% {
		top: 50px;
		left: 270px;
	}
	100% {
		top: -100px;
		left: 270px;
	}
}
	@keyframes girl_falling_adapt {
	0% {
		top: -100px;
		left: 270px;
	}
	50% {
		top: 50px;
		left: 270px;
	}
	100% {
		top: -100px;
		left: 270px;
	}
	}
	.accomp_second_block_content_text_top {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #1C3F77;
		margin-bottom: 20px;
	}
	.accomp_second_block_content_text_bottom {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #1C3F77;
		margin-bottom: 20px;
	}
	.accomp_second_block {
		margin-top: 50px;
	}
	.accomp_third_block_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
		text-align: center;
		color: #1C3F77;
	}
	.accomp_third_block_content_element_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #1C3F77;
	}
	.accomp_third_block_content {
		margin-top: 20px;
		margin-bottom: 55px;
	}
	.accomp_third_block_content_element_line {
		height: 68px;
	}
}
@media(min-width: 1440px){
	.top_block_accomp {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.top_img_acc {
		max-width: 800px;
		padding-top: 100px;
	}
	.top_block_text {
		padding-top: 60px;
	}
	.top_block_text_up {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 49px;
		color: #25416C;
		-webkit-transform: translate(-15px, 50px);
		    -ms-transform: translate(-15px, 50px);
		        transform: translate(-15px, 50px);
	}
	.top_block_text_bottom {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		color: #1C3F77;
		-webkit-transform: translate(90px, 70px);
		    -ms-transform: translate(90px, 70px);
		        transform: translate(90px, 70px);
	}
	.girl_falling_img {
		width: 270px;
	}
	.accomp_second_block_content_text_top {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 30px;
		color: #1C3F77;
		margin-bottom: 30px;
	}
	.accomp_second_block_content_text_bottom {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 30px;
		color: #1C3F77;
		margin-bottom: 30px;
	}
	.accomp_second_block_content_text_bottom:last-child {
		margin-bottom: 25px;
	}
	.accomp_third_block_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 49px;
		text-align: center;
		color: #1C3F77;
	}
	.accomp_third_block_content_element_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 30px;
		color: #1C3F77;
	}
	.accomp_third_block_content_element_line {
		height: 83px;
	}
	.accomp_third_block {
		margin-top: 35px;
	}
}