.feedback  {
	background-color: #fff;
}
.map {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-top: 53px;
	height: 530px;
}
.img_mobile {
	display: none;
}
.user_data {
	z-index: 4;
}
.feedback_content_element_add_text {
	background-color: #fff;
	z-index: 5;
}