@media (max-width: 1000px){ /*440*/
	.examples_top_block {
		padding-top: 70px;
	}
	.top_block_examples_content {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: #1C3F77;
	}
	.courses_examples_block_element {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.courses_examples_block_element_img img, .courses_examples_block_element_data {
		max-width: 100%;
	}
	.courses_examples_block_element_data {
		margin-top: 10px;
	}
	.course_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #25416C;
	}
	.courses_examples_block_element_data_about {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: #25416C;
	}
	.courses_examples_block_element_data_info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.info_block_element {
		padding-top: 10px !important;
		width: 100%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.info_block_element:first-child {
		padding-top: 0 !important;
	}
	.info_block_element_value {
		margin-top: 0;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: #25416C;
	}
	.info_block_element_tag {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 16px;
		color: #25416C;
	}
	.hr_courses {
		margin: 15px 0;
	}
	.button_show_more {
		margin-top: 0;
	}	
	.show_more_btn {
		margin: 20px 0;
		background: #1C3F77;
		border-radius: 10px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
		padding: 8px 13px;
	}
}