
@media (max-width: 767px){
	.logo_icon {
		content: url(../img/320_top_block.png) !important;
	}
	.nav_menu_burger span {
		background-color: #fff !important;
	}
	.top_header  {
		height: 35px;
	}
	.top_header, .top_header_logo_content {
		height: 35px;
	}
	.top_header_logo_content {
		height: 47px;
	}
	.feedback_content_element_add_text {
		top: -8px !important;
	}
	.top_block_examples_content {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: #1C3F77;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	.examples_top_block {
		padding-top: 50px;
	}
	.feedback_text_bottom {
		display: none;
	}
	.img_mobile {
		display: block;
		z-index: 56433;
	    position: absolute;
	    right: 0;
	    top: 34px;
	}
	.map {
		margin-top: 5px;
	}
}
@media(min-width: 768px) and (max-width: 1023px){
	.examples_top_block {
		padding-top: 70px;
	}
	.top_header_logo {
		-webkit-transform: translateX(-15px) !important;
		    -ms-transform: translateX(-15px) !important;
		        transform: translateX(-15px) !important;
	}
	.feedback_right_side {
		margin-left: 20px;
	}
	.map {
		margin-top: 5px;
	}
}
@media(min-width: 1024px) and (max-width: 1439px){
	.top_header_logo {
		-webkit-transform: translateX(-28px);
		    -ms-transform: translateX(-28px);
		        transform: translateX(-28px);
	}
}
@media(min-width: 1440px){
	.map {
		margin-top: 10px;
	}
	.top_header_logo {
		-webkit-transform: translateX(-47px);
		    -ms-transform: translateX(-47px);
		        transform: translateX(-47px);
	}
	.top_block_examples_content {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
}
.feedback_left_side_text_main {
	display: none;
}