.top_block_text_up {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 19px;
		line-height: 23px;
		color: #25416C;
		-webkit-transform: translateX(-7px) translateY(-50px);
		    -ms-transform: translateX(-7px) translateY(-50px);
		        transform: translateX(-7px) translateY(-50px);
	}
@media (max-width: 1023px){ /*440*/
	.features_block  {
		margin-bottom: 20px;
	}
	.telephone_icon, .icon_rel {
		max-width: 68px;
		border-radius: 50%;
	}
	.telephone_icon {
		top: 55px;
		right: 27px;
	}
	.beep_1 {
		top: 15px;
		right: 15px;
		max-width: 19px;
	}
	.beep_2 {
		top: 9px;
		right: 9px;
		max-width: 25px;
	}
	.second_block_org_content_element {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #1C3F77;
	}
	.features_block_top_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #1C3F77;
	}
	.features_block_content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.features_block_content_element  {
			width: 100%;
			margin-bottom: 10px;
	}
	.features_block_content_element div {
		padding-left: 10px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #051369;
	}
	
	.top_block_text_bottom {
		display: none;
	}
	.top_block_org_img img {
		width: 270px;
	}
	.second_block_org, .features_block {
		margin-top: 20px;
	}
	.features_block_content {
		margin-top: 10px;
	}
	.top_block_org_content  {
		padding-top: 100px;
	}
}
@media (min-width: 992px) and (max-width: 1439px) {
	.top_block_text_bottom {
		margin-top: 46px;
	}
	.top_block_org_img img {
		width: 500px;
	}
	.icon_rel {
		width: 130px !important;
	}
	.telephone_icon {
		top: 94px;
		right: 41px;
	}
	.top_block_text_bottom {
		font-size: 16px;
	}
	.beep_1 {
		top: 32px;
		right: 32px;
		max-width: 30px;
	}
	.beep_2 {
		top: 20px;
		right: 20px;
		max-width: 40px;
	}
}
@media(max-width: 767px){
	.top_block_org {
		padding-top: 100px !important;
	}

	.second_block_org_content  {
		padding-top: 15px !important;
	}
	.plane_icon {
		display: none;
	}
	.plane_icon_disappear {
		display: none;
	}
}
@media(min-width: 1024px){
	.telephone_icon {
		top: 175px;
		right: 61px;
	}
	.top_block_org_img {
		padding-right: 20px;
	}
	.top_block_text  {
		padding-left: 20px;
	}
}
@media(min-width: 768px) and (max-width: 1023px){
	.telephone_icon {
		top: 135px !important;
	}
}
@media(min-width: 768px){
	.top_block_text_bottom {
		display: block;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #1C3F77;
	}
	.top_block_text_bottom {
		margin-top: 0;
		-webkit-transform: translateX(25px) translateY(-25px);
		    -ms-transform: translateX(25px) translateY(-25px);
		        transform: translateX(25px) translateY(-25px);
		max-width: 350px;
		white-space: pre-line;
	}
	.top_block_text_up {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 30px;
		color: #25416C;
	}
	.top_block_org_content {
		padding-top: 110px;
	}
	.plane_icon {
		position: absolute;
		max-height: 140px;
		top: 156px;
		left: -39px;
	}
	.top_block_org_img {
		padding-top: 80px;
	}
	.second_block_org_content {
		padding-top: 15px !important;
	}
	.features_block_content_element {
		width: 48.5%;
	}
	.features_block_content_element:nth-child(2n+1){
		margin-right: 9px;
	}
	.features_block_content_element:nth-child(2n){
		margin-left: 9px;
	}

	.features_block_content {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.features_block_top_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		text-align: center;
		color: #1C3F77;
	}
	.second_block_org_content_element {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #1C3F77;
	}
	.features_block_content_element div {
		padding: 0;
		padding-left: 10px;
		min-height: 60px;
	}
	.plane_icon_disappear {
		display: none;
	}
	.plane_icon {
		width: auto !important;
	}
}
@media(min-width: 1024px){
	.top_block_org_content {
		padding-top: 135px;
	}
}
@media(min-width: 1440px) {
	.top_block_org_img {
		position: relative;
	}
	.fade_in_organization {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 200px;
		width: 200px;
		background-color: #fff;

	}
	.top_block_org_content {
		z-index: 30;
	}
	.top_block_org_img {
		z-index: 24;
	}
	.plane_icon {
		z-index: -2;
	}
	.plane_icon {
		width: auto !important;
	}
	.plane_icon_2 {
		z-index: -4;
	}
	.fade_in_organization_1 {
		-webkit-animation: anim_fadeOne 5s linear infinite;
		        animation: anim_fadeOne 5s linear infinite;
		top: 10px;
    	left: -76px;
	}
	.fade_in_organization_2 {
		z-index: -3;
		-webkit-animation: anim_fadeTwo 5s linear infinite;
		        animation: anim_fadeTwo 5s linear infinite;
		-webkit-animation-delay: 2.5s;
		        animation-delay: 2.5s;
		top: 250px;
    	left: -212px;
	}
	.fade_in_organization_3 {
		-webkit-animation: anim_fadeThree 5s linear infinite;
		        animation: anim_fadeThree 5s linear infinite;
		-webkit-animation-delay: 1.5s;
		        animation-delay: 1.5s;
		top: 300px;
    	left: -416px;
	}
	.top_block_org_content {
		padding-top: 125px;
	}
	.top_block_text_up {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 35px;
		line-height: 43px;
		color: #25416C;
	}
	.top_block_text_bottom {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		color: #1C3F77;
		max-width: none;
	}
	.plane_icon_disappear {
		display: block;
	}
	.plane_icon_2 {
		top: 30px;
		left: 30px;
	}
	.plane_icon_3 {
		top: 40px;
		left: 40px;
	}
	.top_block_org_img img {
		width: 540px;
	}
	.telephone_icon, .icon_rel {
		max-width: 160px;
		border-radius: 50%;
	}
	.telephone_icon {
		top: 179px;
		right: 35px;
	}
	.beep_1 {
		top: 39px;
		right: 39px;
		max-width: 39px;
	}
	.beep_2 {
		top: 22px;
		right: 22px;
		max-width: 54px;
	}
	.icon_rel {
		width: 600px !important;
	}
	.plane_icon {
		-webkit-transform: rotateZ(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotateZ(-45deg);
		top: 98px;
		left: -51px;
	}
	.plane_icon_2 {
		-webkit-transform: rotateZ(-5deg);
		    -ms-transform: rotate(-5deg);
		        transform: rotateZ(-5deg);
		top: 293px;
		left: -207px;
	}
	.plane_icon_3 {
		-webkit-transform: rotateY(180deg);
			-ms-transform: rotateY(180deg);
		        transform: rotateY(180deg);
		top: 370px;
		left: -345px;
	}
	.second_block_org_content_element {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #1C3F77;
	}
	.features_block_top_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
		text-align: center;
		color: #1C3F77;
	}
	.features_block {
		margin-top: 30px;
	}
	.features_block_content_element div {
		padding-top: 7px;
		padding-bottom: 7px;
	}
}
@media(min-width: 1440px){
	@-webkit-keyframes anim_fadeOne {
		0% {
			top: 10px;
    		left: -76px;
		}
		100% {
			top: 10px;
   			left: -301px;
		}
	}
	@keyframes anim_fadeOne {
		0% {
			top: 10px;
    		left: -76px;
		}
		100% {
			top: 10px;
   			left: -301px;
		}
	}
	@-webkit-keyframes anim_fadeTwo {
		0% {
			top: 350px;
		}
		100% {
			top: 50px;
		}
	}
	@keyframes anim_fadeTwo {
		0% {
			top: 350px;
		}
		100% {
			top: 50px;
		}
	}
	@-webkit-keyframes anim_fadeThree {
		0% {
			top: 400px;
		}
		100% {
			top: 100px;
		}
	}
	@keyframes anim_fadeThree {
		0% {
			top: 400px;
		}
		100% {
			top: 100px;
		}
	}
	.fade_in_organization_1 {
		-webkit-animation: anim_fadeOne 5s linear infinite;
		        animation: anim_fadeOne 5s linear infinite;
		top: 10px;
    	left: -76px;
	}
	.fade_in_organization_2 {
		z-index: -3;
		-webkit-animation: anim_fadeTwo 5s linear infinite;
		        animation: anim_fadeTwo 5s linear infinite;
		-webkit-animation-delay: 2.5s;
		        animation-delay: 2.5s;
		top: 350px;
    	left: -212px;
	}
	.fade_in_organization_3 {
		-webkit-animation: anim_fadeThree 5s linear infinite;
		        animation: anim_fadeThree 5s linear infinite;
		-webkit-animation-delay: 1.5s;
		        animation-delay: 1.5s;
		top: 400px;
    	left: -416px;
	}
	.top_block_org_content {
		padding-top: 155px;
	}
	.top_block_text_up {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 49px;
		color: #25416C;
	}
	.top_block_text_bottom {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		color: #1C3F77;
	}
	.plane_icon_disappear {
		display: block;
	}
	.icon_rel {
		width: 600px !important;
	}
	.plane_icon {
		-webkit-transform: rotateZ(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotateZ(-45deg);
		top: 98px;
		left: -51px;
	}
	.plane_icon_2 {
		-webkit-transform: rotateZ(15deg);
		    -ms-transform: rotate(15deg);
		        transform: rotateZ(15deg);
		top: 372px;
		left: -227px;
	}
	.plane_icon_3 {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
		top: 420px;
		left: -420px;
	}
	.top_block_org_img img {
		width: 640px;
	}
	.top_block_org_img {
		padding-top: 100px;
	}
	.telephone_icon, .icon_rel {
		max-width: 190px;
		border-radius: 50%;
	}
	.telephone_icon {
		top: 216px;
		right: 55px;
	}
	.beep_1 {
		top: 44px;
		right: 44px;
		max-width: 50px;
	}
	.beep_2 {
		top: 22px;
		right: 22px;
		max-width: 71px;
	}
	.plane_icon {
		width: 140px !important;
		max-width: 140px;
		max-height: none;
	}
	.second_block_org_content_element {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 30px;
		color: #1C3F77;
	}
	.features_block_top_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 49px;
		text-align: center;
		color: #1C3F77;
	}
	.features_block_content_element div {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #051369;
	}
}
@media(min-width: 360px) and (max-width: 767px){
	.top_block_org_img img {
		width: 330px;
	}
	.telephone_icon {
	    top: 67px;
	    right: 27px;
	}
	.telephone_icon, .icon_rel {
	    max-width: 90px;
	    border-radius: 50%;
	}
	.beep_2 {
	    top: 12px;
	    right: 12px;
	    max-width: 33px;
	}
	.beep_1 {
	    top: 20px;
	    right: 20px;
	    max-width: 26px;
	}
}