@media (max-width: 1000px){ /*440*/
	.top_block_backgroundImg {
		content: url(../img/bg_mobile_dev.svg);
	}
	.price_list_img_bg, .price_list_img_bg_top {
		width: 260px;
	}
	.price_list_content_main_block {
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.top_block_content_text_1 {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 19px;
		line-height: 23px;
		color: #1C3F77;
	}
	.top_block_content_text_2 {
		display: none;
	}
	.price_list, .middle_block_slider, .feedback, .footerClass {
		position: relative;
		z-index: 100;
	}
	.top_adapt_two {
		display: block !important;
	}
	.top_adapt_one {
		display: none;
	}
	.top_header_logo_content img, .top_header_logo_content p, .nav_burger_menu {
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
	}
	.top_block_nav_logo_bg {
		content: url(../img/mobile-logo.svg);
	}
	.img_dev_main {
		content: url(../img/line_dev_mobile.svg);
	}
	.fadeEffectTwo, .fadeEffectThree {
		display: none;
	}
	@-webkit-keyframes anim {
		0% {
			-webkit-transform: translateY(0);
			        transform: translateY(0);
		}
	    33% {
	       	-webkit-transform: translateY(60%);
	       	        transform: translateY(60%);
	    }
	    66% {
	       	-webkit-transform: translateY(120%);
	       	        transform: translateY(120%);
	    }
	    100% {
	        -webkit-transform: translateY(180%);
	                transform: translateY(180%);
	    }
	}
	@keyframes anim {
		0% {
			-webkit-transform: translateY(0);
			        transform: translateY(0);
		}
	    33% {
	       	-webkit-transform: translateY(60%);
	       	        transform: translateY(60%);
	    }
	    66% {
	       	-webkit-transform: translateY(120%);
	       	        transform: translateY(120%);
	    }
	    100% {
	        -webkit-transform: translateY(180%);
	                transform: translateY(180%);
	    }
	}
	.fadeEffect {
		height: 1140px;
		-webkit-animation: anim 19s linear;
		        animation: anim 19s linear;
		-webkit-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;
		-webkit-animation-delay: 0.2s;
		        animation-delay: 0.2s;
	}
	.five_fade_img {
		-webkit-animation-delay: 10.4s;
		        animation-delay: 10.4s;
	}
	.six_fade {
		-webkit-animation-delay: 11s;
		        animation-delay: 11s;
	}
	.three_fade_img {
		-webkit-animation-delay: 7s;
		        animation-delay: 7s;
	}
	.four_fade_img {
		-webkit-animation-delay: 9.3s;
		        animation-delay: 9.3s;
	}
	.one_img {
		content: url(../img/dev_block_1_image_mobile.svg);
	}
	.two_img {
		content: url(../img/dev_block_2_image_mobile.svg);
	}
	.three_img {
		content: url(../img/dev_block_3_image_mobile.svg);
	}
	.four_img {
		content: url(../img/dev_block_4_image_mobile.svg);
	}
	.five_img {
		content: url(../img/dev_block_5_image_mobile.svg);
	}
	.text_in_dev_block_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #1C3F77;
	}
	.dev_block_main {
		margin-right: 20px;
	}
	.text_in_dev_block_description {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 17px;
		color: #1C3F77;
		margin-top: 5px;
		max-width: 220px;
	}
	.two_text  .text_in_dev_block_description {
		max-width: 189px;
		font-size: 12px;
	}
	.three_text .text_in_dev_block_description {
		max-width: 173px;
		font-size: 12px;
	}
	.one_icon {
		top: -30px;
		left: -14px;
	}
	.two_icon {
		top: 251px;
		left: 131px;
	}
	.three_icon {
		top: 429px;
		right: 128px;
	}
	.four_icon {
		top: 619px;
		right: -3px;
	}
	.five_icon {
		bottom: 147px;
		left: 31px;
	}
	.six_icon {
		bottom: -20px;
		right: 93px;
	}
	.one_text {
		top: -34px;
		left: 49px;
	}
	.two_text {
		top: 185px;
		left: -50px;
	}
	.three_text {
		top: 417px;
		right: -62px;
	}
	.four_text {
		bottom: 250px;
		right: 44px;
	}
	.five_text {
		bottom: 50px;
		left: 90px;
	}
	.top_block_image {
		width: auto;
	}
	.top_block_backgroundImg {
		margin-right: 0;
	}
	.five_text .text_in_dev_block_description {
		max-width: 170px;
	}
	.five_text .text_in_dev_block_name {
		min-width: 118px;
	}
	.six_text {
		bottom: -5px;
		right: -70px;
	}	
	.one_img {
		top: 94px;
		left: 90px;
	}
	.two_img {
		top: 325px;
		right: -56px;
	}
	.three_img {
		top: 513px;
		right: 40px;
	}
	.four_img {
		bottom: 173px;
		left: 140px;
	}
	.five_img {
		bottom: 50px;
		right: 115px;
	}
	.first_block_dev_content_top {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #1C3F77;
	}
	.first_block_dev_content_bottom {
		margin-top: 15px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #1C3F77;
	}
	.price_list_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #1C3F77;
	}
	.price_list_content_main_block_element span {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #1C3F77;
	}
	.top_block_content_text_1 {
		-webkit-transform: translateY(-55px);
		    -ms-transform: translateY(-55px);
		        transform: translateY(-55px);
	}
	.top_block_content_text_1, .top_block_image {
		display: block;
	}
	.top_block_image {
		content: url(../img/top_block_image-2-mobile.svg);
	}
	.top_block_content_main {
		padding-top: 150px;
	}
	.top_block_backgroundImg {
		margin-top: 132px;
	}
}