@media (max-width: 1000px){ /*440*/
	.telephone_icon {
		display: none;
	}
	.second_block_org_content_element {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #1C3F77;
	}
	.features_block_top_name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #1C3F77;
	}
	.features_block_content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.features_block_content_element  {
			width: 100%;
			margin-bottom: 10px;
	}
	.features_block_content_element div {
		padding-left: 10px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #051369;
	}
	.top_block_text_up {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 19px;
		line-height: 23px;
		color: #25416C;
		-webkit-transform: translateY(-50px);
		    -ms-transform: translateY(-50px);
		        transform: translateY(-50px);
	}
	.top_block_text_bottom {
		display: none;
	}
	.top_block_org_img img {
		width: auto;
	}
	.img_org {
		content: url(../img/organization-bg-mobile.svg);
	}
	.second_block_org, .features_block {
		margin-top: 20px;
	}
	.features_block_content {
		margin-top: 10px;
	}
}