.element_text_remark, .block_element_content_text, .document_templates_main_block_element_content ul li {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #25416C;
}
.document_templates_main_block_element {
	margin-bottom: 20px;
	margin-top: 35px;
}
.document_templates_main_block_element_name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #25416C;
}
.document_templates_main_block_element_content {
	margin-left: 70px;
	margin-top: 10px;
}
.document_templates_main_block_element_content ul li {
	list-style: none;
	position: relative;
	padding-left: 8px;
}
.document_templates_main_block_element_content ul li::before{
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 4px;
	height: 4px;
	background: url(../img/list-style-image.svg);
}
.element_text_remark {
	margin-left: 8px;
}
#content_two {
	margin-top: 10px;
	margin-left: 10px;
}

.document_templates_main_block_element_content ul li a {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 10px;
	color: #25416C;
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
}
.document_templates_main_block_element_content ul li a:hover {
	text-decoration: none;
	color: #25416C;
}