.mobile_adapt_table {
	display: none;
}
.eduacation_plans_main_block_element_name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #25416C;
}
.education_plans_main_block {
	margin-top: 24px;
}
.eduacation_plans_main_block_element_main_content table tr td {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #25416C;
	padding: 9px 0;
	padding-left: 18px;
}
.eduacation_plans_main_block_element_main_content table tr:first-child td{
	background-color: #E7F1FA;
}
.eduacation_plans_main_block_element_main_content table {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
.name_sp {
	text-align: left;
}
.eduacation_plans_main_block_element_main_content table tr td:first-child {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.eduacation_plans_main_block_element_main_content table tr td:last-child {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.table_hr {
	background: #1C3F77;
	border-radius: 10px;
	height: 1px;
	margin: 9px 0;
	padding: 0 !important;
}
.table_bottom_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #25416C;
	margin-top: 10px;
	padding-left: 18px;
}
.foreign_students {
	margin-top: 10px;
	padding: 8px 0;
	padding-left: 21px;
	background-color: #E7F1FA;
	border-radius: 10px;
}
.foreign_students_block {
	margin-top: 25px;
}
footer {
	margin-top: 50px;
}