.news_example_main_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin-top: 24px;
}
.news_example_main_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
	margin-top: 20px;
}
.news_example_main_text_top, .news_example_main_text, .news_date {
	margin-left: 60px;
}
.news_example_main_text_top {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}
.news_date {
	margin-top: 25px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	text-align: left;
}