.top_block_org {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-top: 140px;
	position: relative;
}
.top_block_org_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: absolute;
	top: 0;
	left: 15px;
	padding-top: 140px;
}
.top_block_text_up {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}
.top_block_text_bottom {
	margin-top: 62px;
	-webkit-transform: translateX(45px);
	    -ms-transform: translateX(45px);
	        transform: translateX(45px);
}
.top_block_org_img img {
	width: 700px;
}
.alert_off {
	transition: .2s;
}
.alert_off:hover {
	transition: .2s;
	text-shadow: 0px 0px 0.8px #25416C;
}
.second_block_org {
	margin-top: 54px;
	background-color: #E7FAE8;
}
.second_block_org_content_element {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 28px;
	color: #1C3F77;
	margin-bottom: 20px;
}
.second_block_org_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.second_block_org_content:first-child {
	padding-top: 20px;
}
.features_block {
	margin-top: 40px;
}
.features_block_top_name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	text-align: center;
	color: #1C3F77;
}
.features_block_content {
	margin-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.features_block_content_element div {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #051369;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 70px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.features_block_content_element {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
	width: 48.5%;
	margin-bottom: 30px;
	background: #FFFFFF;
	border: 1px solid rgba(77, 174, 116, 0.5);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 4px #4DAE74;
	        box-shadow: inset 0px 0px 4px #4DAE74;
	border-radius: 10px;
}
.features_block_content:nth-child(7, 8){
	margin-bottom: 0;
}
.feedback_organization {
	margin-top: 20px !important;
}
/*Animation*/
.top_block_org_img {
	z-index: 10;
	position: relative;
}
@-webkit-keyframes anim-tel {
	0% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	12.5% {
		-webkit-transform: rotate(12.5deg);
		        transform: rotate(12.5deg);
	}
	25% {
		-webkit-transform: rotate(20deg);
		        transform: rotate(20deg);
	}
	37.5% {
		-webkit-transform: rotate(12.5deg);
		        transform: rotate(12.5deg);
	}
	50% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	62.5% {
		-webkit-transform: rotate(-12.5deg);
		        transform: rotate(-12.5deg);
	}
	75% {
		-webkit-transform: rotate(-25deg);
		        transform: rotate(-25deg);
	}
	87.5% {
		-webkit-transform: rotate(-12.5deg);
		        transform: rotate(-12.5deg);
	}
	100% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
}
@keyframes anim-tel {
	0% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	12.5% {
		-webkit-transform: rotate(12.5deg);
		        transform: rotate(12.5deg);
	}
	25% {
		-webkit-transform: rotate(20deg);
		        transform: rotate(20deg);
	}
	37.5% {
		-webkit-transform: rotate(12.5deg);
		        transform: rotate(12.5deg);
	}
	50% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	62.5% {
		-webkit-transform: rotate(-12.5deg);
		        transform: rotate(-12.5deg);
	}
	75% {
		-webkit-transform: rotate(-25deg);
		        transform: rotate(-25deg);
	}
	87.5% {
		-webkit-transform: rotate(-12.5deg);
		        transform: rotate(-12.5deg);
	}
	100% {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
}
.telephone_icon img {
	width: auto;
}
.telephone_icon {
	overflow: hidden;
	z-index: 5;
	-webkit-animation: 4s linear infinite anim-tel;
	        animation: 4s linear infinite anim-tel;
	position: absolute;
	top: 131px;
	right: 55px;
}
.icon_rel {
	z-index: 5;
	position: relative;
}
.telephone_beeps {
	position: absolute;
	top: 0;
	right: 0;
}
.beep {
	position: absolute;
}
.beep_1 {
	z-index: 4;
	top: 50px;
	right: 50px;
}
.beep_2 {
	z-index: 3;
	top: 30px;
	right: 30px;
}
.img_org {
	position: static;
	z-index: 15;
}
@-webkit-keyframes fade_one {
	0% {
		opacity: 1;
		top: 50px;
		right: 50px;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		top: -50px;
		right: -50px;
	}
}
@keyframes fade_one {
	0% {
		opacity: 1;
		top: 50px;
		right: 50px;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		top: -50px;
		right: -50px;
	}
}
@-webkit-keyframes fade_two {
	0% {
		opacity: 1;
		top: 30px;
		right: 30px;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		top: -60px;
		right: -60px;
	}
}
@keyframes fade_two {
	0% {
		opacity: 1;
		top: 30px;
		right: 30px;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		top: -60px;
		right: -60px;
	}
}
.fade_eff {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	position: absolute;
	background-color: #fff;
}
.fade_one {
	-webkit-animation: 2s linear infinite fade_one;
	        animation: 2s linear infinite fade_one;
	z-index: 4;
	height: 100px;
	width: 100px;
	top: 30px;
	right: 30px;
}
.fade_two {
	-webkit-animation: 2s linear infinite fade_two;
	        animation: 2s linear infinite fade_two;
	z-index: 3;
	height: 100px;
	width: 100px;
	top: 30px;
	right: 30px;
}