* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
.word {
    display: inline-block;
    vertical-align: top;
}
.dot-com {
    cursor: pointer;
    font-size: 90px;
    color: #fff;
    display: flex;
    justify-content: right;
    transform-style: preserve-3d;
    perspective: 1000px;
    white-space: nowrap;
    overflow: visible;
}
.word .letter {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 1000px;
    opacity: 0;
}
.letter {
    font-size: 7vw;
}
.word .letter {
    font-size: 19vw;
}